![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [3]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies
colec = db.companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [5]:
list(colec.find({'$and':[{'number_of_employees':{'$lte':1000}},
                   {'founded_year':{'$lt':2005}}]},
           {'name':1,'_id':0}).limit(10))

[{'name': 'AdventNet'},
 {'name': 'Digg'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Plaxo'},
 {'name': 'Technorati'},
 {'name': 'AddThis'},
 {'name': 'Meetup'},
 {'name': 'SmugMug'},
 {'name': 'Skype'},
 {'name': 'Pando Networks'}]

In [7]:
list(colec.find({'$and':[{'number_of_employees':{'$lt':1000}},
                       {'founded_year':{'$lt':2005}}]},
              {'name':1,'number_of_employees':1,'_id':0}).sort('number_of_employees',-1).limit(10))

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Buongiorno', 'number_of_employees': 800},
 {'name': 'Cvent', 'number_of_employees': 800},
 {'name': 'ZoomInfo', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

### 7. All the companies that have a null type of value on the `category_code` field.

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

### 9. Order all the companies by their IPO price descendently.

In [11]:
list(colec.find({'$and':[{'ipo.valuation_amount':{'$gte':1}},
                       {'ipo.valuation_amount':{'$lt':1000000000000}}]},
              {'name':1,'ipo.valuation_amount':1,'_id':0}).sort('ipo.valuation_amount',1).limit(20))

[{'name': 'DeNA', 'ipo': {'valuation_amount': 117900}},
 {'name': 'DeNA', 'ipo': {'valuation_amount': 117900}},
 {'name': 'GT Solar', 'ipo': {'valuation_amount': 5000000}},
 {'name': 'Vringo', 'ipo': {'valuation_amount': 11003200}},
 {'name': 'Energy and Power Solutions', 'ipo': {'valuation_amount': 25000000}},
 {'name': 'Inuvo', 'ipo': {'valuation_amount': 30000000}},
 {'name': 'Inuvo', 'ipo': {'valuation_amount': 30000000}},
 {'name': 'Pironet', 'ipo': {'valuation_amount': 44000000}},
 {'name': 'Pironet', 'ipo': {'valuation_amount': 44000000}},
 {'name': 'Global Water', 'ipo': {'valuation_amount': 50000000}},
 {'name': 'Real Goods Solar', 'ipo': {'valuation_amount': 55000000}},
 {'name': 'Meru Networks', 'ipo': {'valuation_amount': 66600000}},
 {'name': 'EnerNOC', 'ipo': {'valuation_amount': 95500000}},
 {'name': 'JumpTV', 'ipo': {'valuation_amount': 100000000}},
 {'name': 'Salesforce', 'ipo': {'valuation_amount': 110000000}},
 {'name': 'Geeknet', 'ipo': {'valuation_amount': 134000000}},
 {'name': 'QuinStreet', 'ipo': {'valuation_amount': 140000000}},
 {'name': 'DivX', 'ipo': {'valuation_amount': 160000000}},
 {'name': 'Tudou', 'ipo': {'valuation_amount': 174000000}},
 {'name': 'KIT digital', 'ipo': {'valuation_amount': 235000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

### 12. All the companies that have been 'deadpooled' after the third year.

In [30]:
list(db.companies.find({'deadpooled_year':{'$gte':3}},
                {'name':1,'_id':0,'deadpooled_year':1}).limit(10))

[{'name': 'Zoho', 'deadpooled_year': 3},
 {'name': 'Omnidrive', 'deadpooled_year': 2008},
 {'name': 'Babelgum', 'deadpooled_year': 2013},
 {'name': 'Sparter', 'deadpooled_year': 2008},
 {'name': 'Thoof', 'deadpooled_year': 2013},
 {'name': 'Mercora', 'deadpooled_year': 2008},
 {'name': 'Wesabe', 'deadpooled_year': 2010},
 {'name': 'Jangl SMS', 'deadpooled_year': 2008},
 {'name': 'Stickam', 'deadpooled_year': 2013},
 {'name': 'AllPeers', 'deadpooled_year': 2008}]

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [19]:
list(db.companies.find({ 'acquisition': { '$exists': True } },
                       {'name':1,'_id':0}).limit(10))

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'}]

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [20]:
 list(db.companies.find({'acquisition.acquired_year':{'$gt':2014}},
                        {'name':1,'_id':0,'acquisition.price_amount':1}).limit(10))

[]

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [21]:
list(db.companies.find({'founded_year':{'$gte':0}},
                {'name':1,'_id':0,'founded_year':1}).sort('founded_year',-1).limit(10))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013}]

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [22]:
list(db.companies.find({'founded_day':{'$lte':7}},
                {'name':1,'_id':0,'acquisition.price_amount':1}).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'Netscape', 'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'PayPal', 'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba', 'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger', 'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems', 'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense', 'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee', 'acquisition': {'price_amount': 321000000}},
 {'name': 'Vitrue', 'acquisition': {'price_amount': 300000000}}]

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

In [25]:
list(db.companies.find({'$and':[{'category_code': 'web'},{'number_of_employees':{'$gt':4000}}]},
                       {'name':1,'_id':0,'number_of_employees':1}).sort('number_of_employees',1).limit(10))

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Experian', 'number_of_employees': 15500}]

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

In [26]:
list(db.companies.find({'$and':[{'acquisition.price_amount': {'$gte':10000000}},
{'acquisition.price_currency_code':'EUR'}]},{'name':1,'_id':0,'acquisition.price_amount':1
,'acquisition.price_currency_code':1}).sort('acquisition.price_amount',1).limit(10))

[{'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}}]

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [35]:
list(db.companies.find({"acquisition.acquired_month":{'$lte':3}},
               {'name':1,'acquisition':1,'_id':0}).sort('name',1).limit(10))

[{'name': '123people',
  'acquisition': {'price_amount': nan,
   'price_currency_code': 'USD',
   'term_code': 'null',
   'source_url': 'http://techcrunch.com/2010/03/19/looks-like-123people-has-been-acquired-by-frances-yellow-pages/',
   'source_description': 'Looks Like 123people Has Been Acquired By Franceâ€™s Yellow Pages',
   'acquired_year': 2010,
   'acquired_month': 3,
   'acquired_day': 19,
   'acquiring_company': {'name': 'PagesJaunes', 'permalink': 'pagesjaunes'}}},
 {'name': '1Up',
  'acquisition': {'price_amount': nan,
   'price_currency_code': 'USD',
   'term_code': 'null',
   'source_url': 'http://www.techcrunch.com/2009/01/07/ugo-entertainment-buys-1up-gaming-network-emg-bites-dust/',
   'source_description': 'UGO Entertainment Buys 1UP Gaming Network; EGM Bites Dust',
   'acquired_year': 2009,
   'acquired_month': 1,
   'acquired_day': 6,
   'acquiring_company': {'name': 'UGO Entertainment',
    'permalink': 'ugo-entertainment'}}},
 {'name': '2ergo',
  'acquisition': {'price_amount': nan,
   'price_currency_code': 'USD',
   'term_code': 'null',
   'source_url': 'http://ir.soundbite.com/phoenix.zhtml?c=211501&p=irol-newsArticle&ID=1707957&highlight=',
   'source_description': 'SoundBite Communications Acquires Americas Operations of 2ergo Group plc, a Pioneer of Innovative Mobile Marketing Solutions',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': nan,
   'acquiring_company': {'name': 'SoundBite Communications',
    'permalink': 'soundbite-communication'}}},
 {'name': '3721 Internet Assistant',
  'acquisition': {'price_amount': nan,
   'price_currency_code': 'USD',
   'term_code': 'null',
   'source_url': '',
   'source_description': '',
   'acquired_year': 2004,
   'acquired_month': 1,
   'acquired_day': nan,
   'acquiring_company': {'name': 'Yahoo!', 'permalink': 'yahoo'}}},
 {'name': '3Leaf',
  'acquisition': {'price_amount': nan,
   'price_currency_code': 'USD',
   'term_code': 'null',
   'source_url': 'http://www.reuters.com/article/2011/02/19/us-huawei-3leaf-idUSTRE71I38920110219',
   'source_description': 'Huawei backs away from 3Leaf acquisition',
   'acquired_year': 2011,
   'acquired_month': 2,
   'acquired_day': 19,
   'acquiring_company': {'name': 'Huawei Technologies',
    'permalink': 'huawei'}}},
 {'name': '3Tera',
  'acquisition': {'price_amount': nan,
   'price_currency_code': 'USD',
   'term_code': 'null',
   'source_url': 'http://techcrunch.com/2010/02/24/ca-continues-shopping-spree-acquires-3tera-to-boost-presence-in-the-cloud/',
   'source_description': 'CA Continues Shopping Spree; Acquires 3Tera To Boost Presence In The Cloud',
   'acquired_year': 2010,
   'acquired_month': 2,
   'acquired_day': 24,
   'acquiring_company': {'name': 'CA Technologies', 'permalink': 'ca'}}},
 {'name': '6th Sense Analytics',
  'acquisition': {'price_amount': nan,
   'price_currency_code': 'USD',
   'term_code': 'null',
   'source_url': 'http://www.techjournalsouth.com/news/article.html?item_id=6735',
   'source_description': 'Rally Software buys NC-based 6th Sense Analytics',
   'acquired_year': 2009,
   'acquired_month': 1,
   'acquired_day': 14,
   'acquiring_company': {'name': 'Rally Software',
    'permalink': 'rally-software'}}},
 {'name': '@Last Software',
  'acquisition': {'price_amount': nan,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://news.cnet.com/Google-acquires-Last-Software/2100-1030_3-6049511.html',
   'source_description': 'Google has acquired @Last Software, a 3D-design toolmaker and developer of the SketchUp software, the start-up announced Tuesday.',
   'acquired_year': 2006,
   'acquired_month': 3,
   'acquired_day': 14,
   'acquiring_company': {'name': 'Google', 'permalink': 'google'}}},
 {'name': 'A1Vacations',
  'acquisition': {'price_amount': nan,
   'price_currency_code': 'USD',
   'term_code': 'null',
   'source_url': 'http://www.A1Vacations.com',
   'source_description': '',
   'acquired_year': 2005,
   'acquired_month': 2,
   'acquired_day': 1,
   'acquiring_company': {'name': 'HomeAway', 'permalink': 'homeaway'}}},
 {'name': 'AGEIA Technologies',
  'acquisition': {'price_amount': nan,
   'price_currency_code': 'USD',
   'term_code': 'null',
   'source_url': 'http://www.nvidia.com/object/io_1202161567170.html',
   'source_description': 'NVIDIA to Acquire AGEIA Technologies',
   'acquired_year': 2008,
   'acquired_month': 2,
   'acquired_day': nan,
   'acquiring_company': {'name': 'Nvidia', 'permalink': 'nvidia'}}}]

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [28]:
list(db.companies.find({'$and':[{'founded_year': {'$gte':2000}},{'founded_year': {'$lte':2010}},
{'acquisition.acquired_year': {'$gt':2010}}]},{'name':1,'_id':0,'founded_year':1,
'acquisition.acquired_year':1}).limit(10))

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Geni',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Kyte',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Jingle Networks',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'blogTV',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'delicious',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Revision3',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'iContact',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Mashery',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}}]