![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [3]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies

In [5]:
colec = db.companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [16]:
list(colec.find({'name':'Babelgum'},{'_id':0,'name':1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [7]:
list(colec.find({'number_of_employees':{'$gt':5000}},
                {'name':1,'_id':0,'number_of_employees':1}).sort('number_of_employees',-1).limit(20))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000},
 {'name': 'Comcast', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [12]:
list(colec.find({'$and':[{'founded_year':{'$gte':2000}},
                       {'founded_year':{'$lte':2005}}]},
              {'name':1,'founded_year':1,'_id':0}).sort('founded_year',-1).limit(20))

[{'name': 'Dailymotion', 'founded_year': 2005},
 {'name': 'iSkoot', 'founded_year': 2005},
 {'name': 'RockYou', 'founded_year': 2005},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'ClipBlast!', 'founded_year': 2005},
 {'name': 'YouTube', 'founded_year': 2005},
 {'name': 'Netvibes', 'founded_year': 2005},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Instructables', 'founded_year': 2005},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Slide', 'founded_year': 2005},
 {'name': 'Swivel', 'founded_year': 2005},
 {'name': 'Zlio', 'founded_year': 2005},
 {'name': 'Revision3', 'founded_year': 2005},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [6]:
list(colec.find({'$and':[{'ipo.valuation_amount':{'$gt':100000000}},
                       {'founded_year':{'$lte':2010}}]},
              {'name':1,'founded_year':1,'_id':0}).sort('founded_year',-1))

[{'name': 'KIT digital', 'founded_year': 2008},
 {'name': 'Groupon', 'founded_year': 2008},
 {'name': 'Twitter', 'founded_year': 2006},
 {'name': 'Wix', 'founded_year': 2006},
 {'name': 'Marketo', 'founded_year': 2006},
 {'name': 'Millennial Media', 'founded_year': 2006},
 {'name': 'Zillow', 'founded_year': 2005},
 {'name': 'HomeAway', 'founded_year': 2005},
 {'name': 'Chegg', 'founded_year': 2005},
 {'name': 'Chegg', 'founded_year': 2005},
 {'name': 'Tudou', 'founded_year': 2005},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Yelp', 'founded_year': 2004},
 {'name': 'Brightcove', 'founded_year': 2004},
 {'name': 'BrightSource Energy', 'founded_year': 2004},
 {'name': 'GREE', 'founded_year': 2004},
 {'name': 'LinkedIn', 'founded_year': 2003},
 {'name': 'ChannelAdvisor', 'founded_year': 2001},
 {'name': 'Jive Software', 'founded_year': 2001},
 {'name': 'Rally Software', 'founded_year': 2001},
 {'name': 'TripAdvisor', 'founded_year': 2000},
 {'name': 'Higher One', 'founded_year': 2000},
 {'name': 'Shutterfly', 'founded_year': 1999},
 {'name': 'Salesforce', 'founded_year': 1999},
 {'name': 'QuinStreet', 'founded_year': 1999},
 {'name': 'Infoblox', 'founded_year': 1999},
 {'name': 'Baidu', 'founded_year': 1999},
 {'name': 'Opsware', 'founded_year': 1999},
 {'name': 'Telenav', 'founded_year': 1999},
 {'name': 'Mixi', 'founded_year': 1999},
 {'name': 'SolarWinds', 'founded_year': 1999},
 {'name': 'DemandTec', 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand', 'founded_year': 1999},
 {'name': 'OpenTable', 'founded_year': 1998},
 {'name': 'Rackspace', 'founded_year': 1998},
 {'name': 'Tencent', 'founded_year': 1998},
 {'name': 'Amazon', 'founded_year': 1994},
 {'name': 'Geeknet', 'founded_year': 1993},
 {'name': 'QlikTech', 'founded_year': 1993},
 {'name': 'BMC Software', 'founded_year': 1980},
 {'name': 'Western Digital', 'founded_year': 1970},
 {'name': 'Nielsen', 'founded_year': 1922}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [36]:
list(colec.find({'$and':[{'number_of_employees':{'$lt':1000}},
                   {'founded_year':{'$lt':2005}}]},
           {'name':1,'_id':0}).limit(10))

[{'name': 'AdventNet'},
 {'name': 'Digg'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Plaxo'},
 {'name': 'Technorati'},
 {'name': 'AddThis'},
 {'name': 'Meetup'},
 {'name': 'SmugMug'},
 {'name': 'Skype'},
 {'name': 'Pando Networks'}]

### 6. All the companies that don't include the `partners` field.

In [80]:
list(colec.find({'partners':{'$exists':0}},
                     {'_id':0,'name':1,'partners':1}))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [76]:
list(colec.find({'category_code':'null'},
                     {'_id':0,'name':1,'category_code':1}).limit(20))

[{'name': 'Collective', 'category_code': 'null'},
 {'name': 'Snimmer', 'category_code': 'null'},
 {'name': 'KoolIM', 'category_code': 'null'},
 {'name': 'Level9 Media', 'category_code': 'null'},
 {'name': 'VidKing', 'category_code': 'null'},
 {'name': 'Drigg', 'category_code': 'null'},
 {'name': 'SpaceTime', 'category_code': 'null'},
 {'name': 'Touch Clarity', 'category_code': 'null'},
 {'name': 'MMDAYS', 'category_code': 'null'},
 {'name': 'Inside Group', 'category_code': 'null'},
 {'name': 'Repeater Store', 'category_code': 'null'},
 {'name': 'Tapesh', 'category_code': 'null'},
 {'name': 'iPersians', 'category_code': 'null'},
 {'name': 'NewPersia', 'category_code': 'null'},
 {'name': 'Pyra Labs', 'category_code': 'null'},
 {'name': 'Feedmap', 'category_code': 'null'},
 {'name': 'NuvoMedia', 'category_code': 'null'},
 {'name': 'Intwine', 'category_code': 'null'},
 {'name': 'The Weinstein Company', 'category_code': 'null'},
 {'name': 'ExecuNet', 'category_code': 'null'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [39]:
list(colec.find({'$and':[{'number_of_employees':{'$gte':100}},
                       {'number_of_employees':{'$lt':1000}}]},
              {'name':1,'number_of_employees':1,'_id':0}).sort('number_of_employees',-1).limit(20))

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'InMobi', 'number_of_employees': 900},
 {'name': 'Workday', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Relax Solutions Pvt Ltd', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Wayfair', 'number_of_employees': 800},
 {'name': 'BitDefender', 'number_of_employees': 800},
 {'name': 'ZoomInfo', 'number_of_employees': 800},
 {'name': 'MySpace', 'number_of_employees': 800},
 {'name': 'LivingLink', 'number_of_employees': 800},
 {'name': 'LivingLink', 'number_of_employees': 800},
 {'name': 'Good Technology', 'number_of_employees': 800},
 {'name': 'Buongiorno', 'number_of_employees': 800}]

### 9. Order all the companies by their IPO price descendently.

In [74]:
list(colec.find({'$and':[{'ipo.valuation_amount':{'$gte':1}},
                       {'ipo.valuation_amount':{'$lt':1000000000000}}]},
              {'name':1,'ipo.valuation_amount':1,'_id':0}).sort('ipo.valuation_amount',-1).limit(20))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000}},
 {'name': 'TripAdvisor', 'ipo': {'valuation_amount': 3273770000}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'RPX Corporation', 'ipo': {'valuation_amount': 1096000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [60]:
list(colec.find({'$and':[{'number_of_employees':{'$gte':1}},
                       {'number_of_employees':{'$lt':1000000000}}]},
              {'name':1,'number_of_employees':1,'_id':0}).sort('number_of_employees',-1).limit(20))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000},
 {'name': 'Comcast', 'number_of_employees': 100000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [59]:
list(colec.find({'$and':[{'founded_month':{'$gte':6}},
                       {'founded_month':{'$lt':12}}]},
              {'name':1,'_id':0}).limit(20))

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Fox Interactive Media'},
 {'name': 'eBay'},
 {'name': 'Joost'},
 {'name': 'Plaxo'},
 {'name': 'Powerset'},
 {'name': 'Technorati'},
 {'name': 'Sparter'},
 {'name': 'Jingle Networks'},
 {'name': 'LifeLock'},
 {'name': 'SmugMug'},
 {'name': 'Google'},
 {'name': 'Skype'},
 {'name': 'Pando Networks'},
 {'name': 'delicious'}]

### 12. All the companies that have been 'deadpooled' after the third year.

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.