![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [23]:
from pymongo import MongoClient
client=MongoClient()
db=client.Companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [77]:
sorted(list(db.companies.find()[1000]))

['_id',
 'acquisition',
 'acquisitions',
 'alias_list',
 'blog_feed_url',
 'blog_url',
 'category_code',
 'competitions',
 'created_at',
 'crunchbase_url',
 'deadpooled_day',
 'deadpooled_month',
 'deadpooled_url',
 'deadpooled_year',
 'description',
 'email_address',
 'external_links',
 'founded_day',
 'founded_month',
 'founded_year',
 'funding_rounds',
 'homepage_url',
 'image',
 'investments',
 'ipo',
 'milestones',
 'name',
 'number_of_employees',
 'offices',
 'overview',
 'partners',
 'permalink',
 'phone_number',
 'products',
 'providerships',
 'relationships',
 'screenshots',
 'tag_list',
 'total_money_raised',
 'twitter_username',
 'updated_at',
 'video_embeds']

In [47]:
list(db.companies.find({'name':'Babelgum'},{'_id':0,'name':1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [57]:
list(db.companies.find({'number_of_employees':{'$gt':5000}},
                {'name':1,'_id':0,'number_of_employees':1}).sort('number_of_employees',-1).limit(20))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [94]:
list(db.companies.find({'$and':[{'founded_year':{'$gte':2000}},
                                {'founded_year':{'$lte':2005}}]},
                       {'name':1,'_id':0,'founded_year':1}).sort('name',1).limit(21))

[{'name': '10East', 'founded_year': 2002},
 {'name': '1915 Studios', 'founded_year': 2004},
 {'name': '1938 Media', 'founded_year': 2005},
 {'name': '1Scan', 'founded_year': 2004},
 {'name': '2 Minutes', 'founded_year': 2000},
 {'name': '247techsupport', 'founded_year': 2005},
 {'name': '25 Pixels Media', 'founded_year': 2001},
 {'name': '2GeeksinaLab', 'founded_year': 2004},
 {'name': '2GeeksinaLab', 'founded_year': 2004},
 {'name': '2threads', 'founded_year': 2004},
 {'name': '302designs', 'founded_year': 2004},
 {'name': '32bytes', 'founded_year': 2001},
 {'name': '360innovate', 'founded_year': 2005},
 {'name': '360is', 'founded_year': 2002},
 {'name': '3Dynamics', 'founded_year': 2004},
 {'name': '3Jam', 'founded_year': 2005},
 {'name': '3Leaf', 'founded_year': 2004},
 {'name': '3Sigma', 'founded_year': 2000},
 {'name': '3Tera', 'founded_year': 2004},
 {'name': '3biz', 'founded_year': 2005},
 {'name': '3i Systems', 'founded_year': 2004}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [79]:
 list(db.companies.find({'$and':[{'founded_year':{'$lte':2010}},
                    {'ipo.valuation_amount':{'$gt':100000000}}]},
           {'name':1,'_id':0,'founded_year':1}).sort('name',1))

[{'name': 'Amazon', 'founded_year': 1994},
 {'name': 'BMC Software', 'founded_year': 1980},
 {'name': 'Baidu', 'founded_year': 1999},
 {'name': 'BrightSource Energy', 'founded_year': 2004},
 {'name': 'Brightcove', 'founded_year': 2004},
 {'name': 'ChannelAdvisor', 'founded_year': 2001},
 {'name': 'Chegg', 'founded_year': 2005},
 {'name': 'Chegg', 'founded_year': 2005},
 {'name': 'Cornerstone OnDemand', 'founded_year': 1999},
 {'name': 'DemandTec', 'founded_year': 1999},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'GREE', 'founded_year': 2004},
 {'name': 'Geeknet', 'founded_year': 1993},
 {'name': 'Groupon', 'founded_year': 2008},
 {'name': 'Higher One', 'founded_year': 2000},
 {'name': 'HomeAway', 'founded_year': 2005},
 {'name': 'Infoblox', 'founded_year': 1999},
 {'name': 'Jive Software', 'founded_year': 2001},
 {'name': 'KIT digital', 'founded_year': 2008},
 {'name': 'LinkedIn', 'founded_year': 2003},
 {'name': 'Marketo', 'founded_year': 2006},
 {'name': 'Millennial Media', 'founded_year': 2006},
 {'name': 'Mixi', 'founded_year': 1999},
 {'name': 'Nielsen', 'founded_year': 1922},
 {'name': 'OpenTable', 'founded_year': 1998},
 {'name': 'Opsware', 'founded_year': 1999},
 {'name': 'QlikTech', 'founded_year': 1993},
 {'name': 'QuinStreet', 'founded_year': 1999},
 {'name': 'Rackspace', 'founded_year': 1998},
 {'name': 'Rally Software', 'founded_year': 2001},
 {'name': 'Salesforce', 'founded_year': 1999},
 {'name': 'Shutterfly', 'founded_year': 1999},
 {'name': 'SolarWinds', 'founded_year': 1999},
 {'name': 'Telenav', 'founded_year': 1999},
 {'name': 'Tencent', 'founded_year': 1998},
 {'name': 'TripAdvisor', 'founded_year': 2000},
 {'name': 'Tudou', 'founded_year': 2005},
 {'name': 'Twitter', 'founded_year': 2006},
 {'name': 'Western Digital', 'founded_year': 1970},
 {'name': 'Wix', 'founded_year': 2006},
 {'name': 'Yelp', 'founded_year': 2004},
 {'name': 'Zillow', 'founded_year': 2005}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [83]:
list(db.companies.find({'$and':[{'founded_year':{'$lte':2005}},
                                {'number_of_employees':{'$lt':1000}}]},
                       {'name':1,'_id':0,'founded_year':1,'number_of_employees':1}
                      ).sort('number_of_employees',-1).limit(10))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'Box', 'number_of_employees': 950, 'founded_year': 2005},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Workday', 'number_of_employees': 900, 'founded_year': 2005},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998}]

### 6. All the companies that don't include the `partners` field.

In [147]:
list(db.companies.find({ 'partners': { '$exists': True } }, # if False prints an empty list
                       {'name':1,'_id':0}).limit(21))
# type reference:
# https://docs.mongodb.com/manual/reference/operator/query/type/#querying-by-array-type

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Twitter'},
 {'name': 'StumbleUpon'},
 {'name': 'Gizmoz'},
 {'name': 'Scribd'},
 {'name': 'Slacker'},
 {'name': 'Lala'},
 {'name': 'Helio'},
 {'name': 'eBay'},
 {'name': 'MeetMoi'},
 {'name': 'Joost'},
 {'name': 'CBS'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [146]:
list(db.companies.find({ 'category_code': { '$type': "string" } }, # prints an empty list with "null"
                       {'name':1,'_id':0}).limit(21))

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Twitter'},
 {'name': 'StumbleUpon'},
 {'name': 'Gizmoz'},
 {'name': 'Scribd'},
 {'name': 'Slacker'},
 {'name': 'Lala'},
 {'name': 'Helio'},
 {'name': 'eBay'},
 {'name': 'MeetMoi'},
 {'name': 'Joost'},
 {'name': 'CBS'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [93]:
list(db.companies.find({'$and':[{'number_of_employees':{'$gte':100}},
                                {'number_of_employees':{'$lte':1000}}]},
                       {'name':1,'_id':0,'number_of_employees':1}).sort('name',1).limit(21))

[{'name': '2 Minutes', 'number_of_employees': 105},
 {'name': '2AdPro', 'number_of_employees': 350},
 {'name': '2ergo', 'number_of_employees': 100},
 {'name': '4shared', 'number_of_employees': 666},
 {'name': '7digital', 'number_of_employees': 120},
 {'name': '800APP', 'number_of_employees': 200},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': '88DB', 'number_of_employees': 150},
 {'name': '99designs', 'number_of_employees': 100},
 {'name': '9You', 'number_of_employees': 460},
 {'name': 'A10 Networks', 'number_of_employees': 500},
 {'name': 'AKQA', 'number_of_employees': 550},
 {'name': 'AKQA', 'number_of_employees': 550},
 {'name': 'AMAX Global Services', 'number_of_employees': 200},
 {'name': 'AMAX Global Services', 'number_of_employees': 200},
 {'name': 'AMEC', 'number_of_employees': 240},
 {'name': 'AMX', 'number_of_employees': 346},
 {'name': 'API Outsourcing', 'number_of_employees': 130},
 {'name': 'API Outsourcing', 'number_of_employees': 130},
 {'name': 'APICS', 'number_of_employees': 110},
 {'name': 'AVST', 'number_of_employees': 100}]

### 9. Order all the companies by their IPO price descendently.

In [92]:
list(db.companies.find({'ipo.valuation_amount':{'$gt':10}},
                {'name':1,'_id':0,'ipo.valuation_amount':1}).sort('ipo.valuation_amount',-1).limit(21))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000}},
 {'name': 'TripAdvisor', 'ipo': {'valuation_amount': 3273770000}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'RPX Corporation', 'ipo': {'valuation_amount': 1096000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}},
 {'name': 'OpenTable', 'ipo': {'valuation_amount': 1050000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [95]:
list(db.companies.find({'number_of_employees':{'$gt':10}},
                {'name':1,'_id':0,'number_of_employees':1}).sort('number_of_employees',-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [97]:
list(db.companies.find({'founded_month':{'$gte':7}},
                {'name':1,'_id':0,'founded_month':1}).limit(21))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12},
 {'name': 'Jingle Networks', 'founded_month': 9},
 {'name': 'LifeLock', 'founded_month': 8},
 {'name': 'Wesabe', 'founded_month': 12},
 {'name': 'SmugMug', 'founded_month': 11},
 {'name': 'Google', 'founded_month': 9},
 {'name': 'Skype', 'founded_month': 8},
 {'name': 'Pando Networks', 'founded_month': 7},
 {'name': 'Ikan', 'founded_month': 12},
 {'name': 'delicious', 'founded_month': 9},
 {'name': 'AllPeers', 'founded_month': 8},
 {'name': 'Wize', 'founded_month': 8}]

### 12. All the companies that have been 'deadpooled' after the third year.

In [98]:
list(db.companies.find({'deadpooled_year':{'$gte':3}},
                {'name':1,'_id':0,'deadpooled_year':1}).limit(21))

[{'name': 'Zoho', 'deadpooled_year': 3},
 {'name': 'Omnidrive', 'deadpooled_year': 2008},
 {'name': 'Babelgum', 'deadpooled_year': 2013},
 {'name': 'Sparter', 'deadpooled_year': 2008},
 {'name': 'Thoof', 'deadpooled_year': 2013},
 {'name': 'Mercora', 'deadpooled_year': 2008},
 {'name': 'Wesabe', 'deadpooled_year': 2010},
 {'name': 'Jangl SMS', 'deadpooled_year': 2008},
 {'name': 'Stickam', 'deadpooled_year': 2013},
 {'name': 'AllPeers', 'deadpooled_year': 2008},
 {'name': 'EQO', 'deadpooled_year': 2012},
 {'name': 'AllofMP3', 'deadpooled_year': 2007},
 {'name': 'SellABand', 'deadpooled_year': 2010},
 {'name': 'Zlio', 'deadpooled_year': 2011},
 {'name': 'Jaiku', 'deadpooled_year': 2012},
 {'name': 'Spotplex', 'deadpooled_year': 2008},
 {'name': 'TripUp', 'deadpooled_year': 2008},
 {'name': 'Fleck', 'deadpooled_year': 2008},
 {'name': 'Coghead', 'deadpooled_year': 2009},
 {'name': 'Zooomr', 'deadpooled_year': 2006},
 {'name': 'Swivel', 'deadpooled_year': 2010}]

### 13. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [124]:
list(db.companies.find({ 'acquisition': { '$exists': True } },
                       {'name':1,'_id':0}).limit(5))
# got companies where i'm sure the field "acquisition" exists

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'}]

In [172]:
# list(db.companies.find({'name':'Wetpaint'}))
# got the acquisition.price_amount from this query

In [130]:
list(db.companies.find({'$and':[{'founded_year':{'$lte':2000}},
                                {'acquisition.price_amount':{'$gte':10000000}}]},
                       {'name':1,'_id':0,'acquisition.price_amount':1}).sort('name',-1).limit(11))

[{'name': 'picoChip', 'acquisition': {'price_amount': 76800000}},
 {'name': 'mindSHIFT Technologies',
  'acquisition': {'price_amount': 167000000}},
 {'name': 'ioko', 'acquisition': {'price_amount': 91400000}},
 {'name': 'iWeb Technologies', 'acquisition': {'price_amount': 145000000}},
 {'name': 'iWeb Technologies', 'acquisition': {'price_amount': 145000000}},
 {'name': 'iVillage', 'acquisition': {'price_amount': 600000000}},
 {'name': 'iStockphoto', 'acquisition': {'price_amount': 50000000}},
 {'name': 'iCrossing', 'acquisition': {'price_amount': 325000000}},
 {'name': 'eGroups', 'acquisition': {'price_amount': 432000000}},
 {'name': "eBaum's World", 'acquisition': {'price_amount': 32500000}},
 {'name': 'aQuantive', 'acquisition': {'price_amount': 6400000000.0}}]

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [141]:
list(db.companies.find({'acquisition.acquired_year':{'$gte':2014}},# prints an empty list after "2015"
                {'name':1,'_id':0,'acquisition.price_amount':1}).limit(20))

[{'name': 'Sense Networks', 'acquisition': {'price_amount': nan}},
 {'name': 'Nullsoft', 'acquisition': {'price_amount': nan}},
 {'name': 'Alverix', 'acquisition': {'price_amount': 40000000}}]

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [155]:
list(db.companies.find({'founded_year':{'$gte':0}},
                {'name':1,'_id':0,'founded_year':1}).sort('founded_year',-1).limit(20))

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'VistaGen Therapeutics', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Shopseen', 'founded_year': 2013},
 {'name': 'Tongxue', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Springleap', 'founded_year': 2012},
 {'name': 'Skydeck', 'founded_year': 2012},
 {'name': 'Mobiluck', 'founded_year': 2012},
 {'name': 'headr', 'founded_year': 2012},
 {'name': 'FoodCare', 'founded_year': 2012},
 {'name': 'Bling Easy', 'founded_year': 2012},
 {'name': 'Jumbuck Entertainment', 'founded_year': 2012}]

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [158]:
list(db.companies.find({'founded_day':{'$lte':7}},
                {'name':1,'_id':0,'acquisition.price_amount':1}).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'Netscape', 'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'PayPal', 'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba', 'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger', 'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems', 'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense', 'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee', 'acquisition': {'price_amount': 321000000}},
 {'name': 'BlueLithium', 'acquisition': {'price_amount': 300000000}}]

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

In [160]:
list(db.companies.find({'$and':[{'category_code': 'web'},
                                {'number_of_employees':{'$gt':4000}}]},
                       {'name':1,'_id':0,'number_of_employees':1}).sort('number_of_employees',1).limit(21))

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Experian', 'number_of_employees': 15500}]

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

In [162]:
list(db.companies.find({'$and':[{'acquisition.price_amount': {'$gte':10000000}},
                                {'acquisition.price_currency_code':'EUR'}]},
                       {'name':1,'_id':0,'acquisition.price_amount':1,'acquisition.price_currency_code':1}
                      ).sort('acquisition.price_amount',1).limit(21))

[{'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}}]

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [169]:
list(db.companies.find({'acquisition.acquired_month':{'$lte':4}},
                        {'name':1,'_id':0,'acquisition.acquired_month':1}
                       ).sort('acquisition.acquired_year',1).limit(21))

[{'name': 'Paramount Pictures', 'acquisition': {'acquired_month': 3}},
 {'name': 'CompareNet', 'acquisition': {'acquired_month': 3}},
 {'name': 'Lightera', 'acquisition': {'acquired_month': 3}},
 {'name': 'HyperParallel', 'acquisition': {'acquired_month': 2}},
 {'name': 'Sentient Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'Berkeley Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'GeoCities', 'acquisition': {'acquired_month': 1}},
 {'name': 'zip2', 'acquisition': {'acquired_month': 4}},
 {'name': 'inTALK', 'acquisition': {'acquired_month': 2}},
 {'name': 'Jump Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'Treesahran Industries Ganes', 'acquisition': {'acquired_month': 1}},
 {'name': 'MyQuest', 'acquisition': {'acquired_month': 3}},
 {'name': 'Nortel Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'Direct Hit', 'acquisition': {'acquired_month': 2}},
 {'name': 'BabyCenter', 'acquisition': {'acquired_month': 3}},
 {'name': 'WhaleMail', 'acquisition': {'acquired_month': 2}},
 {'name': 'Deja', 'acquisition': {'acquired_month': 2}},
 {'name': 'Spinway', 'acquisition': {'acquired_month': 3}},
 {'name': 'Planet Alumni User Data', 'acquisition': {'acquired_month': 2}},
 {'name': 'Zayante', 'acquisition': {'acquired_month': 4}},
 {'name': 'Planet Alumni User Data', 'acquisition': {'acquired_month': 2}}]

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [171]:
list(db.companies.find({'$and':[{'founded_year': {'$gte':2000}},
                                {'founded_year': {'$lte':2010}},
                                {'acquisition.acquired_year': {'$gt':2010}}]},
                       {'name':1,'_id':0,'founded_year':1,'acquisition.acquired_year':1}
                      ).limit(7))

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Geni',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Kyte',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Jingle Networks',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'blogTV',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'delicious',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2011}}]