![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [7]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies
colec = db.companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [10]:
db.collection_names()

<ipython-input-10-8ff4d2505e25>:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  db.collection_names()

['companies']

In [8]:
list(colec.find({'name':'Babelgum'},{'_id':0,'name':1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [11]:
list(colec.find({'number_of_employees':{'$gt':5000}},
                {'name':1,'_id':0,'number_of_employees':1}).sort('number_of_employees',-1).limit(20)
    
    )

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000},
 {'name': 'Comcast', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [14]:
list(colec.find({'$and':[{'founded_year':{'$gte':2000}},
                       {'founded_year':{'$lte':2005}}]},
              {'name':1,'founded_year':1,'_id':0}).sort('founded_year',-1).limit(25))

[{'name': 'iSkoot', 'founded_year': 2005},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Slide', 'founded_year': 2005},
 {'name': 'Zlio', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Revision3', 'founded_year': 2005},
 {'name': 'ClipBlast!', 'founded_year': 2005},
 {'name': 'Bebo', 'founded_year': 2005},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'TripHub', 'founded_year': 2005},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Netvibes', 'founded_year': 2005},
 {'name': 'YouTube', 'founded_year': 2005},
 {'name': 'Instructables', 'founded_year': 2005},
 {'name': 'RockYou', 'founded_year': 2005},
 {'name': 'PBworks', 'founded_year': 2005},
 {'name': 'Newsvine', 'founded_year': 2005},
 {'name': 'Meebo', 'founded_year': 2005},
 {'name': 'Swivel', 'founded_year': 2005},
 {'name': 'Dailymotion', 'founded_year': 2005},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [19]:
list(colec.find({'$and':[{'ipo.valuation_amount':{'$gt':100000000}},
                       {'founded_year':{'$lte':2010}}]},
              {'name':1,'ipo':1,'_id':0}).sort('founded_year',-1).limit(10))

[{'name': 'Groupon',
  'ipo': {'valuation_amount': 12800000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NASDAQ:GRPN'}},
 {'name': 'KIT digital',
  'ipo': {'valuation_amount': 235000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 7,
   'pub_day': 27,
   'stock_symbol': 'KITD'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Millennial Media',
  'ipo': {'valuation_amount': 973500000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 28,
   'stock_symbol': 'NYSE:MM'}},
 {'name': 'Marketo',
  'ipo': {'valuation_amount': 465000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 4,
   'pub_day': 2,
   'stock_symbol': 'NASDAQ:MKTO'}},
 {'name': 'Wix',
  'ipo': {'valuation_amount': 750000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 6,
   'stock_symbol': 'NASDAQ:WIX'}},
 {'name': 'Chegg',
  'ipo': {'valuation_amount': 1100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 14,
   'stock_symbol': 'NYSE:CHGG'}},
 {'name': 'Chegg',
  'ipo': {'valuation_amount': 1100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 14,
   'stock_symbol': 'NYSE:CHGG'}},
 {'name': 'Tudou',
  'ipo': {'valuation_amount': 174000000,
   'valuation_currency_code': 'USD',
   'pub_year': None,
   'pub_month': None,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:TUDO'}},
 {'name': 'Zillow',
  'ipo': {'valuation_amount': 2550000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 19,
   'stock_symbol': 'NASDAQ:Z'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [20]:
list(colec.find({'$and':[{'number_of_employees':{'$lt':1000}},
                       {'founded_year':{'$lte':2005}}]},
              {'name':1,'number_of_employees':1,'_id':0}).sort('number_of_employees',-1).limit(10))

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'Workday', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Mozilla', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [24]:
list(colec.find({'partners':{'$exists':1}},{'_id':0,'name':1,'partners':1}).limit(15))

[{'name': 'Wetpaint', 'partners': []},
 {'name': 'AdventNet', 'partners': []},
 {'name': 'Zoho', 'partners': []},
 {'name': 'Digg', 'partners': []},
 {'name': 'Facebook', 'partners': []},
 {'name': 'Omnidrive', 'partners': []},
 {'name': 'Postini', 'partners': []},
 {'name': 'Geni', 'partners': []},
 {'name': 'Flektor', 'partners': []},
 {'name': 'Fox Interactive Media', 'partners': []},
 {'name': 'Twitter', 'partners': []},
 {'name': 'StumbleUpon', 'partners': []},
 {'name': 'Gizmoz', 'partners': []},
 {'name': 'Scribd', 'partners': []},
 {'name': 'Slacker', 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [25]:
list(colec.find({'category_code':'null'},{'_id':0,'name':1,'category_code':1}).limit(15))

[{'name': 'Collective', 'category_code': 'null'},
 {'name': 'Snimmer', 'category_code': 'null'},
 {'name': 'KoolIM', 'category_code': 'null'},
 {'name': 'Level9 Media', 'category_code': 'null'},
 {'name': 'VidKing', 'category_code': 'null'},
 {'name': 'Drigg', 'category_code': 'null'},
 {'name': 'SpaceTime', 'category_code': 'null'},
 {'name': 'Touch Clarity', 'category_code': 'null'},
 {'name': 'MMDAYS', 'category_code': 'null'},
 {'name': 'Inside Group', 'category_code': 'null'},
 {'name': 'Repeater Store', 'category_code': 'null'},
 {'name': 'Tapesh', 'category_code': 'null'},
 {'name': 'iPersians', 'category_code': 'null'},
 {'name': 'NewPersia', 'category_code': 'null'},
 {'name': 'Pyra Labs', 'category_code': 'null'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [26]:
list(colec.find({'$and':[{'number_of_employees':{'$gte':100}},
                       {'number_of_employees':{'$lt':1000}}]},
              {'name':1,'number_of_employees':1,'_id':0}).sort('number_of_employees',-1).limit(15))

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'Workday', 'number_of_employees': 900},
 {'name': 'Relax Solutions Pvt Ltd', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'InMobi', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'BitDefender', 'number_of_employees': 800},
 {'name': 'Buongiorno', 'number_of_employees': 800},
 {'name': 'Cvent', 'number_of_employees': 800}]

### 9. Order all the companies by their IPO price descendently.

In [27]:
 list(db.companies.find({'ipo.valuation_amount':{'$gt':10}},
                {'name':1,'_id':0,'ipo.valuation_amount':1}).sort('ipo.valuation_amount',-1).limit(15))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000}},
 {'name': 'TripAdvisor', 'ipo': {'valuation_amount': 3273770000}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [30]:
 list(db.companies.find({'number_of_employees':{'$gt':10}},
                {'name':1,'_id':0,'number_of_employees':1}).sort('number_of_employees',-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [31]:
list(db.companies.find({'founded_month':{'$gte':7}},
                {'name':1,'_id':0,'founded_month':1}).limit(15))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12},
 {'name': 'Jingle Networks', 'founded_month': 9},
 {'name': 'LifeLock', 'founded_month': 8},
 {'name': 'Wesabe', 'founded_month': 12},
 {'name': 'SmugMug', 'founded_month': 11},
 {'name': 'Google', 'founded_month': 9}]

### 12. All the companies that have been 'deadpooled' after the third year.

In [32]:
list(db.companies.find({'deadpooled_year':{'$gte':3}},
                {'name':1,'_id':0,'deadpooled_year':1}).limit(15))

[{'name': 'Zoho', 'deadpooled_year': 3},
 {'name': 'Omnidrive', 'deadpooled_year': 2008},
 {'name': 'Babelgum', 'deadpooled_year': 2013},
 {'name': 'Sparter', 'deadpooled_year': 2008},
 {'name': 'Thoof', 'deadpooled_year': 2013},
 {'name': 'Mercora', 'deadpooled_year': 2008},
 {'name': 'Wesabe', 'deadpooled_year': 2010},
 {'name': 'Jangl SMS', 'deadpooled_year': 2008},
 {'name': 'Stickam', 'deadpooled_year': 2013},
 {'name': 'AllPeers', 'deadpooled_year': 2008},
 {'name': 'EQO', 'deadpooled_year': 2012},
 {'name': 'AllofMP3', 'deadpooled_year': 2007},
 {'name': 'SellABand', 'deadpooled_year': 2010},
 {'name': 'Zlio', 'deadpooled_year': 2011},
 {'name': 'Jaiku', 'deadpooled_year': 2012}]

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [34]:
list(db.companies.find({ 'acquisition': { '$exists': True } },
                       {'name':1,'_id':0}).limit(15))

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Twitter'},
 {'name': 'StumbleUpon'},
 {'name': 'Gizmoz'},
 {'name': 'Scribd'},
 {'name': 'Slacker'}]

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [44]:
 list(db.companies.find({'acquisition.acquired_year':{'$gt':2014}},
{'name':1,'_id':0,'acquisition.price_amount':1}).limit(15))

[]

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [35]:
list(db.companies.find({'founded_year':{'$gte':0}},
                {'name':1,'_id':0,'founded_year':1}).sort('founded_year',-1).limit(15))

[{'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Tongxue', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'VistaGen Therapeutics', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'Shopseen', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Mobiluck', 'founded_year': 2012},
 {'name': 'Jumbuck Entertainment', 'founded_year': 2012}]

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [36]:
list(db.companies.find({'founded_day':{'$lte':7}},
                {'name':1,'_id':0,'acquisition.price_amount':1}).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'Netscape', 'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'PayPal', 'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba', 'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger', 'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems', 'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense', 'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee', 'acquisition': {'price_amount': 321000000}},
 {'name': 'Vitrue', 'acquisition': {'price_amount': 300000000}}]

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

In [38]:
list(db.companies.find({'$and':[{'category_code': 'web'},
                                {'number_of_employees':{'$gt':4000}}]},
                       {'name':1,'_id':0,'number_of_employees':1}).sort('number_of_employees',1).limit(15)
    
)

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Experian', 'number_of_employees': 15500}]

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

In [40]:
list(db.companies.find({'$and':[{'acquisition.price_amount': {'$gte':10000000}},
{'acquisition.price_currency_code':'EUR'}]},{'name':1,'_id':0,'acquisition.price_amount':1
,'acquisition.price_currency_code':1}).sort('acquisition.price_amount',1).limit(15))

[{'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}}]

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [41]:
list(db.companies.find({'acquisition.acquired_month':{'$lte':4}},{'name':1,'_id':0,
'acquisition.acquired_month':1}).sort('acquisition.acquired_year',1).limit(15))

[{'name': 'Paramount Pictures', 'acquisition': {'acquired_month': 3}},
 {'name': 'Berkeley Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'Jump Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'GeoCities', 'acquisition': {'acquired_month': 1}},
 {'name': 'Sentient Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'Treesahran Industries Ganes', 'acquisition': {'acquired_month': 1}},
 {'name': 'inTALK', 'acquisition': {'acquired_month': 2}},
 {'name': 'zip2', 'acquisition': {'acquired_month': 4}},
 {'name': 'CompareNet', 'acquisition': {'acquired_month': 3}},
 {'name': 'Lightera', 'acquisition': {'acquired_month': 3}},
 {'name': 'HyperParallel', 'acquisition': {'acquired_month': 2}},
 {'name': 'MyQuest', 'acquisition': {'acquired_month': 3}},
 {'name': 'Nortel Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'Direct Hit', 'acquisition': {'acquired_month': 2}},
 {'name': 'WhaleMail', 'acquisition': {'acquired_month': 2}}]

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [42]:
list(db.companies.find({'$and':[{'founded_year': {'$gte':2000}},{'founded_year': {'$lte':2010}},
{'acquisition.acquired_year': {'$gt':2010}}]},{'name':1,'_id':0,'founded_year':1,
'acquisition.acquired_year':1}).limit(15))

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Geni',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Kyte',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Jingle Networks',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'blogTV',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'delicious',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Revision3',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'iContact',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Mashery',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Dailymotion',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'KickApps',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Instructables',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Netvibes',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Dogster',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2011}}]