## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

print('running')

running

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [53]:
sample_list_1=random.sample(range(100), k=80)

print(sample_list_1)

[28, 16, 15, 46, 14, 2, 36, 65, 4, 81, 13, 85, 19, 67, 45, 95, 90, 8, 78, 59, 51, 76, 79, 97, 33, 83, 47, 49, 54, 27, 92, 58, 32, 3, 91, 87, 99, 60, 21, 18, 55, 69, 73, 24, 1, 41, 64, 0, 44, 17, 31, 89, 10, 98, 52, 84, 71, 56, 68, 29, 74, 86, 38, 62, 61, 53, 35, 40, 30, 88, 20, 80, 70, 5, 82, 48, 57, 77, 22, 11]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [54]:
set1=set(sample_list_1)

print(type(set1))

print(len(set1)) # The length still 80 because the list din't contain repeated numbers.

<class 'set'>
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [56]:
sample_list_2=[]

for number in range(0,80):
    ran_values = random.randint(0,100)
    sample_list_2.append(ran_values)

print(sample_list_2)

print("The length of sample_list_2 is", len(sample_list_2))

[52, 37, 74, 59, 55, 14, 39, 57, 19, 18, 34, 11, 49, 37, 61, 97, 22, 96, 5, 96, 63, 27, 90, 6, 47, 74, 89, 32, 100, 74, 15, 48, 28, 18, 10, 79, 37, 25, 92, 47, 51, 49, 81, 68, 12, 45, 62, 44, 66, 56, 28, 69, 96, 45, 46, 39, 61, 12, 78, 9, 56, 52, 16, 7, 75, 1, 80, 0, 11, 54, 43, 49, 11, 53, 68, 47, 44, 88, 22, 54]
The length of sample_list_2 is 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [57]:
set2=set(sample_list_2)

print(type(set2))

print(len(set2)) # The length is not 80 anymore because the list contained repeated numbers that were excluded when turned into a set.

<class 'set'>
56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [58]:
set3=[]

for number in set1:
    if number not in set2:
        set3.append(number)

set3 = set(set3)
        
print (set3)
print(type(set3))

{2, 3, 4, 8, 13, 17, 20, 21, 24, 29, 30, 31, 33, 35, 36, 38, 40, 41, 58, 60, 64, 65, 67, 70, 71, 73, 76, 77, 82, 83, 84, 85, 86, 87, 91, 95, 98, 99}
<class 'set'>

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [59]:
set4=[]

for number in set2:
    if number not in set1:
        set4.append(number)

set4 = set(set4)
        
print (set4)
print(type(set4))

{96, 34, 66, 100, 37, 6, 7, 39, 9, 43, 12, 75, 25, 63}
<class 'set'>

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [60]:
set5=[]

for number in set1:
    if number in set2:
        set5.append(number)

set5 = set(set5)
        
print (set5)
print(type(set5))

{0, 1, 5, 10, 11, 14, 15, 16, 18, 19, 22, 27, 28, 32, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 68, 69, 74, 78, 79, 80, 81, 88, 89, 90, 92, 97}
<class 'set'>

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [61]:
cardinality_of_sets=[len(set1),len(set2),len(set3),len(set4),len(set5)]
cardinality_of_sets.sort()
set_number=[i for i in range(1,len(cardinality_of_sets)+1)]
dictionary_cardinality=zip(set_number,cardinality_of_sets)
dictionary_cardinality=dict(dictionary_cardinality)

print(dictionary_cardinality)

# no logré determinar cuál es la formula matemática para representar la relación entre las cardinalidades.

{1: 14, 2: 38, 3: 42, 4: 56, 5: 80}

#### Create an empty set called `set6`.

In [62]:
set6=[]
set6=set(set6)

print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [63]:
set6.update(set3,set5)

print(set6)

{0, 1, 2, 3, 4, 5, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 40, 41, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 67, 68, 69, 70, 71, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [64]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [65]:
set2.issubset(set1)

False

In [66]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [67]:
sum_of_3sets=set.union(set3, set4, set5)
sum_of_2sets=set.union(set1, set2)

print(sum_of_3sets==sum_of_2sets)

all_sets=set.union(sum_of_3sets,sum_of_2sets)

print(all_sets)
print("The length of all_sets is:", len(all_sets))

True
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 98, 99, 100}
The length of all_sets is: 94

#### Using the `pop` method, remove the first element from `set1`.

In [68]:
print(set1)

{0, 1, 2, 3, 4, 5, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 40, 41, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 67, 68, 69, 70, 71, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 97, 98, 99}

In [69]:
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 40, 41, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 67, 68, 69, 70, 71, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 97, 98, 99}

In [70]:
len(set1)

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [72]:
rmv_lst = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in range(len(rmv_lst)):
    if rmv_lst[number] in set1:
        set1.remove(rmv_lst[number])
print(set1)

print("The length of set1 is now:", len(set1))

{2, 3, 4, 5, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 24, 27, 28, 30, 32, 33, 35, 36, 38, 40, 44, 45, 46, 47, 48, 52, 53, 54, 55, 56, 57, 58, 60, 62, 64, 65, 67, 68, 70, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 95, 97, 98}
The length of set1 is now: 61