In [1]:
import json
import requests
import pandas as pd

In [13]:
response = requests.get('https://api.github.com/repos/Os-f-dev/datamex_082020/stats/commit_activity').json()
response[:3]

[{'total': 0, 'week': 1567900800, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1568505600, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1569110400, 'days': [0, 0, 0, 0, 0, 0, 0]}]

In [22]:
df = pd.DataFrame(response)
f"Once upon a time there was {df.total.sum()} commit(s)"

'Once upon a time there was 1 commit(s)'

In [29]:
df[df['total']>0]

    total        week                   days
47      1  1596326400  [0, 1, 0, 0, 0, 0, 0]