# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [2]:
import pandas as pd

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [5]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [5]:
from sklearn.model_selection import train_test_split as tts

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [4]:
X_train, X_test, y_train, y_test = tts(X, y, train_size = 0.80, test_size = 0.20)

In [7]:
from  sklearn.linear_model import LinearRegression as linreg

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [8]:
linreg = linreg()
linreg_fit_tn = linreg.fit(X_train, y_train)
linreg_fit_tt = linreg.fit(X_test, y_test)

In [9]:
predict = linreg.predict(X)

In [10]:
y_predict = linreg.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [11]:
from sklearn.metrics import r2_score as r2

In [13]:
round(r2(y_test, y_predict),3)

0.821

## 4. Calculate and print mean squared error for both the training and the testing set.

In [14]:
from sklearn.metrics import mean_squared_error as mse

In [18]:
m = mse(y_test, y_predict)

In [21]:
round(m / len(y_predict), 3)

0.141

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [22]:
from sklearn.metrics import mean_absolute_error as mae

In [24]:
round(mae(y_test, y_predict), 3)

2.82

## Classification Model Evaluation

In [3]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [26]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [6]:
X_train, X_test, y_train, y_test = tts(X, y, train_size = 0.80, test_size = 0.20)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [7]:
from sklearn.linear_model import LogisticRegression as lr

In [8]:
logit_reg = lr()
logit_fit = logit_reg.fit(X_train,y_train)
y_predict = logit_fit.predict(X_test)
y_predict

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

array([0, 1, 2, 2, 0, 0, 1, 2, 2, 2, 1, 2, 1, 1, 1, 2, 0, 1, 2, 1, 2, 2,
       1, 0, 1, 0, 1, 0, 1, 1])

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [31]:
from sklearn.metrics import accuracy_score as acc

In [32]:
round(acc(y_test, y_predict), 3)

0.933

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [35]:
from sklearn.metrics import balanced_accuracy_score as bas

In [37]:
round(bas(y_test, y_predict), 3)

0.939

## 10. Calculate and print the precision score for both the training and the testing set.

In [38]:
from sklearn.metrics import precision_score as ps

In [39]:
round(ps(y_test, y_predict, average ='macro'), 3)

0.933

## 11. Calculate and print the recall score for both the training and the testing set.

In [40]:
from sklearn.metrics import recall_score as rec

In [41]:
round(rec(y_test, y_predict, average='macro'), 3)

0.939

## 12. Calculate and print the F1 score for both the training and the testing set.

In [42]:
from sklearn.metrics import f1_score as f1

In [43]:
round(f1(y_test, y_predict, average='macro'), 3)

0.93

## 13. Generate confusion matrices for both the training and the testing set.

In [44]:
from sklearn.metrics import confusion_matrix as cm

In [46]:
cm(y_test,y_predict)

array([[11,  0,  0],
       [ 0,  8,  0],
       [ 0,  2,  9]])

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.