#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [4]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table

In [39]:
data = pd.read_sql_query('SELECT * FROM users', engine)

#### 5. Rename Id column to userId

In [162]:
data.rename({'Id':'userId'},axis=1,inplace=True)
data.head(3)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None

#### 6. Import the posts table.

In [51]:
posts_table = pd.read_sql_query('SELECT * FROM posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [165]:
posts_table.rename({'Id': 'postId', 'OwnerUserId': 'userId'}, axis=1, inplace=True)
posts_table.info()
# rename and stuff --> https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   postId                 91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  datetime64[ns]
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   userId                 90584 non-null  float64
 8   LasActivityDate        91976 non-null  datetime64[ns]
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  datetime64[ns]
 16  CommunityOwnedDate     2467 non-null   datetime64[ns]
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   datetime64[ns]
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: datetime64[ns](5), float64(7), int64(4), object(5)
memory usage: 13.0+ MB

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [167]:
users_columns = data[['userId','Reputation','Views','UpVotes','DownVotes']]
print(users_columns.tail())
posts_columns = posts_table[['postId','Score','userId','ViewCount','CommentCount']]
print(posts_columns.tail())

       userId  Reputation  Views  UpVotes  DownVotes
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0
       postId  Score   userId  ViewCount  CommentCount
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [168]:
merged = users_columns.merge(posts_columns, how='inner', on='userId', left_index=True)

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [169]:
print(merged.isnull().sum())
print(f'\ntotal empties: {merged.isnull().sum().sum()}')

## count NaNs and stuff -->
## https://thispointer.com/python-pandas-count-number-of-nan-or-missing-values-in-dataframe-also-row-column-wise/

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

total empties: 48396

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [170]:
print("the max is: ",merged['ViewCount'].max())
print("the min is: ",merged['ViewCount'].min())
"""
I would fill in the NaN's with ZEROEZ because the number of times a post has been seen is an important paramenter.
"""
merged.fillna('0', inplace=True)

the max is:  175495.0
the min is:  1.0

In [171]:
print(f'\ntotal empties: {merged.isnull().sum().sum()}')

total empties: 0

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [173]:
merged.info()
## according to .info() the view count is an object, but should be an integer.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 2040 to 91973
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  object
 8   CommentCount  90584 non-null  int64
dtypes: int64(8), object(1)
memory usage: 6.6+ MB

In [174]:
merged['ViewCount'] = merged['ViewCount'].astype('int64', errors='raise')
merged.info()
# had to actually say thing = thing.changes for it to work

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 2040 to 91973
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   postId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  int64
 8   CommentCount  90584 non-null  int64
dtypes: int64(9)
memory usage: 6.9 MB

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [203]:
merged.drop(labels='postId',axis=1,inplace=True)
merged.head()

,userId,Reputation,Views,UpVotes,DownVotes,Score,ViewCount,CommentCount
2040,-1,1,0,5007,1920,0,0,0
7898,-1,1,0,5007,1920,0,0,0
7900,-1,1,0,5007,1920,0,0,0
8259,-1,1,0,5007,1920,0,0,0
8260,-1,1,0,5007,1920,0,0,0

In [204]:
stats = merged.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90584.0,16546.764727,15273.367108,-1.0,3437.0,11032.0,27700.00,55746.0,24263.00
Reputation,90584.0,6282.395412,15102.268670,1.0,60.0,396.0,4460.00,87393.0,4400.00
Views,90584.0,1034.245176,2880.074012,0.0,5.0,45.0,514.25,20932.0,509.25
UpVotes,90584.0,734.315718,2050.869327,0.0,1.0,22.0,283.00,11442.0,282.00
DownVotes,90584.0,33.273249,134.936435,0.0,0.0,0.0,8.00,1920.0,8.00
Score,90584.0,2.780767,4.948922,-19.0,1.0,2.0,3.00,192.0,2.00
ViewCount,90584.0,259.253400,1632.261405,0.0,0.0,0.0,111.00,175495.0,111.00
CommentCount,90584.0,1.894650,2.638704,0.0,0.0,1.0,3.00,45.0,3.00

In [207]:
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    

outliers.head()

### dunno whats going on

KeyError: 'Score'