In [1]:
import nltk

In [2]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [3]:
from nltk.corpus import brown

In [4]:
brown.words()[0:10]

['The',
 'Fulton',
 'County',
 'Grand',
 'Jury',
 'said',
 'Friday',
 'an',
 'investigation',
 'of']

In [5]:
brown.tagged_words()[0:10]

[('The', 'AT'),
 ('Fulton', 'NP-TL'),
 ('County', 'NN-TL'),
 ('Grand', 'JJ-TL'),
 ('Jury', 'NN-TL'),
 ('said', 'VBD'),
 ('Friday', 'NR'),
 ('an', 'AT'),
 ('investigation', 'NN'),
 ('of', 'IN')]

In [6]:
text = 'Ironhack is a Global Tech School ranked num 2 worldwide.   Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do. This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course. We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.'

C:\Users\HP\anaconda3\lib\site-packages\IPython\core\inputtransformer2.py:481: UserWarning: `make_tokens_by_line` received a list of lines which do not have lineending markers ('\n', '\r', '\r\n', '\x0b', '\x0c'), behavior will be unspecified
  warnings.warn("`make_tokens_by_line` received a list of lines which do not have lineending markers ('\\n', '\\r', '\\r\\n', '\\x0b', '\\x0c'), behavior will be unspecified")

In [7]:
from nltk import sent_tokenize, word_tokenize

In [8]:
sent_tokenize(text)

['Ironhack is a Global Tech School ranked num 2 worldwide.',
 'Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do.',
 'This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course.',
 'We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.']

In [9]:
word_tokenize(text)

['Ironhack',
 'is',
 'a',
 'Global',
 'Tech',
 'School',
 'ranked',
 'num',
 '2',
 'worldwide',
 '.',
 'Our',
 'mission',
 'is',
 'to',
 'help',
 'people',
 'transform',
 'their',
 'careers',
 'and',
 'join',
 'a',
 'thriving',
 'community',
 'of',
 'tech',
 'professionals',
 'that',
 'love',
 'what',
 'they',
 'do',
 '.',
 'This',
 'ideology',
 'is',
 'reflected',
 'in',
 'our',
 'teaching',
 'practices',
 ',',
 'which',
 'consist',
 'of',
 'a',
 'nine-weeks',
 'immersive',
 'programming',
 ',',
 'UX/UI',
 'design',
 'or',
 'Data',
 'Analytics',
 'course',
 'as',
 'well',
 'as',
 'a',
 'one-week',
 'hiring',
 'fair',
 'aimed',
 'at',
 'helping',
 'our',
 'students',
 'change',
 'their',
 'career',
 'and',
 'get',
 'a',
 'job',
 'straight',
 'after',
 'the',
 'course',
 '.',
 'We',
 'are',
 'present',
 'in',
 '8',
 'countries',
 'and',
 'have',
 'campuses',
 'in',
 '9',
 'locations',
 '-',
 'Madrid',
 ',',
 'Barcelona',
 ',',
 'Miami',
 ',',
 'Paris',
 ',',
 'Mexico',
 'City',
 ',',
 'Berlin',
 ',',
 'Amsterdam',
 ',',
 'Sao',
 'Paulo',
 'and',
 'Lisbon',
 '.']

Challenge 2

In [10]:
from nltk.corpus import stopwords
import re
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [11]:
def clean_up(s):
    clean = ["http://?.+", "\W+|\d+"]
    s = s.lower()
    for i in clean:
        s = re.sub(i, " ",s)
    s = s.split()
    s = " ".join(s)
    return s

In [12]:
def tokewords (s):
    s = word_tokenize(s)
    return s

In [13]:
clean_up("@Ironhack's-#Q website 776-is http://ironhack.com [(2018)]")

'ironhack s q website is'

In [14]:
lemmatizer = WordNetLemmatizer()

In [15]:
lemmatizer.lemmatize('was')

'wa'

In [16]:
lemmatizer.lemmatize('runs', pos='v')

'run'

In [17]:
test = '''Data science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from data in various forms, both structured and unstructured,[1][2] similar to data mining. \nData science is a "concept to unify statistics, data analysis, machine learning and their related methods" in order to "understand and analyze actual phenomena" with data.[3] It employs techniques and theories drawn from many fields within the context of mathematics, statistics, information science, and computer science. \nTuring award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.\nIn 2012, when Harvard Business Review called it "The Sexiest Job of the 21st Century",[6] the term "data science" became a buzzword. It is now often used interchangeably with earlier concepts'''
s = tokewords(clean_up(text))
s

['ironhack',
 'is',
 'a',
 'global',
 'tech',
 'school',
 'ranked',
 'num',
 'worldwide',
 'our',
 'mission',
 'is',
 'to',
 'help',
 'people',
 'transform',
 'their',
 'careers',
 'and',
 'join',
 'a',
 'thriving',
 'community',
 'of',
 'tech',
 'professionals',
 'that',
 'love',
 'what',
 'they',
 'do',
 'this',
 'ideology',
 'is',
 'reflected',
 'in',
 'our',
 'teaching',
 'practices',
 'which',
 'consist',
 'of',
 'a',
 'nine',
 'weeks',
 'immersive',
 'programming',
 'ux',
 'ui',
 'design',
 'or',
 'data',
 'analytics',
 'course',
 'as',
 'well',
 'as',
 'a',
 'one',
 'week',
 'hiring',
 'fair',
 'aimed',
 'at',
 'helping',
 'our',
 'students',
 'change',
 'their',
 'career',
 'and',
 'get',
 'a',
 'job',
 'straight',
 'after',
 'the',
 'course',
 'we',
 'are',
 'present',
 'in',
 'countries',
 'and',
 'have',
 'campuses',
 'in',
 'locations',
 'madrid',
 'barcelona',
 'miami',
 'paris',
 'mexico',
 'city',
 'berlin',
 'amsterdam',
 'sao',
 'paulo',
 'and',
 'lisbon']

In [18]:
def stem_and_lemmatize(l):
    lemm = []
    porter = PorterStemmer()
    lem =  WordNetLemmatizer()
    stem = list(map(porter.stem,s))
    for i in s:
        lemm.append(lem.lemmatize(i, pos = 'v'))
    return lemm

In [19]:
stem_and_lemmatize(s)

['ironhack',
 'be',
 'a',
 'global',
 'tech',
 'school',
 'rank',
 'num',
 'worldwide',
 'our',
 'mission',
 'be',
 'to',
 'help',
 'people',
 'transform',
 'their',
 'career',
 'and',
 'join',
 'a',
 'thrive',
 'community',
 'of',
 'tech',
 'professionals',
 'that',
 'love',
 'what',
 'they',
 'do',
 'this',
 'ideology',
 'be',
 'reflect',
 'in',
 'our',
 'teach',
 'practice',
 'which',
 'consist',
 'of',
 'a',
 'nine',
 'weeks',
 'immersive',
 'program',
 'ux',
 'ui',
 'design',
 'or',
 'data',
 'analytics',
 'course',
 'as',
 'well',
 'as',
 'a',
 'one',
 'week',
 'hire',
 'fair',
 'aim',
 'at',
 'help',
 'our',
 'students',
 'change',
 'their',
 'career',
 'and',
 'get',
 'a',
 'job',
 'straight',
 'after',
 'the',
 'course',
 'we',
 'be',
 'present',
 'in',
 'countries',
 'and',
 'have',
 'campuses',
 'in',
 'locations',
 'madrid',
 'barcelona',
 'miami',
 'paris',
 'mexico',
 'city',
 'berlin',
 'amsterdam',
 'sao',
 'paulo',
 'and',
 'lisbon']

In [20]:
def remove_stopwords(l):
    stopwords_en = stopwords.words('english')
    clean_words = []
    for w in l:
        if w not in stopwords_en:
            clean_words.append(w)
    return clean_words

In [21]:
print(len(stem_and_lemmatize(s)), len(remove_stopwords(stem_and_lemmatize(s))))

100 62

Challenge 3

In [22]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [23]:
import zipfile
import pandas as pd

In [24]:
zf = zipfile.ZipFile("Sentiment140.csv.zip")
df = pd.read_csv(zf.open("Sentiment140.csv"))

In [25]:
df.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [26]:
txt = "Ironhack is a Global Tech School ranked num 2 worldwide. Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do."

In [27]:
analyzer = SentimentIntensityAnalyzer()

In [28]:
analyzer.polarity_scores(txt)

{'neg': 0.0, 'neu': 0.741, 'pos': 0.259, 'compound': 0.8442}

In [29]:
df2 = df.sample(n = 20000)
df2.head()

,target,id,date,flag,user,text
1292585,4,2003065023,Tue Jun 02 05:48:15 PDT 2009,NO_QUERY,Lorrriii,@paulgrauber Hope you have a great day today!
761633,0,2297349201,Tue Jun 23 10:19:58 PDT 2009,NO_QUERY,saucybritches,Dad was all psyched that I was going to give h...
995362,4,1835704320,Mon May 18 06:34:38 PDT 2009,NO_QUERY,Colleens6677,@ktsummer That is awesome. I want nktv at my...
274393,0,1990591925,Mon Jun 01 05:16:11 PDT 2009,NO_QUERY,CarmaSez,@katriord here it is http://tinyurl.com/lpdbpl...
1274133,4,2000936264,Mon Jun 01 23:22:09 PDT 2009,NO_QUERY,snflwrgrl13,@music4thesoul prince or princess? lol! I'll s...

In [30]:
df2["text_processed"] = df2.text.apply(lambda x:remove_stopwords(stem_and_lemmatize(tokewords(clean_up(x)))))

In [31]:
df2["text_processed"].head(10)

1292585    [ironhack, global, tech, school, rank, num, wo...
761633     [ironhack, global, tech, school, rank, num, wo...
995362     [ironhack, global, tech, school, rank, num, wo...
274393     [ironhack, global, tech, school, rank, num, wo...
1274133    [ironhack, global, tech, school, rank, num, wo...
857871     [ironhack, global, tech, school, rank, num, wo...
1138552    [ironhack, global, tech, school, rank, num, wo...
76722      [ironhack, global, tech, school, rank, num, wo...
285359     [ironhack, global, tech, school, rank, num, wo...
796625     [ironhack, global, tech, school, rank, num, wo...
Name: text_processed, dtype: object

In [32]:
bag_words=[]
for i in df2['text_processed']:
    bag_words += i

In [33]:
from nltk.probability import FreqDist

In [34]:
fdist = FreqDist(bag_words)

In [35]:
frecc = fdist.most_common(5000)
frecc

[('tech', 40000),
 ('help', 40000),
 ('career', 40000),
 ('course', 40000),
 ('ironhack', 20000),
 ('global', 20000),
 ('school', 20000),
 ('rank', 20000),
 ('num', 20000),
 ('worldwide', 20000),
 ('mission', 20000),
 ('people', 20000),
 ('transform', 20000),
 ('join', 20000),
 ('thrive', 20000),
 ('community', 20000),
 ('professionals', 20000),
 ('love', 20000),
 ('ideology', 20000),
 ('reflect', 20000),
 ('teach', 20000),
 ('practice', 20000),
 ('consist', 20000),
 ('nine', 20000),
 ('weeks', 20000),
 ('immersive', 20000),
 ('program', 20000),
 ('ux', 20000),
 ('ui', 20000),
 ('design', 20000),
 ('data', 20000),
 ('analytics', 20000),
 ('well', 20000),
 ('one', 20000),
 ('week', 20000),
 ('hire', 20000),
 ('fair', 20000),
 ('aim', 20000),
 ('students', 20000),
 ('change', 20000),
 ('get', 20000),
 ('job', 20000),
 ('straight', 20000),
 ('present', 20000),
 ('countries', 20000),
 ('campuses', 20000),
 ('locations', 20000),
 ('madrid', 20000),
 ('barcelona', 20000),
 ('miami', 20000),
 ('paris', 20000),
 ('mexico', 20000),
 ('city', 20000),
 ('berlin', 20000),
 ('amsterdam', 20000),
 ('sao', 20000),
 ('paulo', 20000),
 ('lisbon', 20000)]

In [36]:
frecc_colums = [f[0] for f in frecc]

In [37]:
matrix=[]
for i in df2['text_processed']:
    filas = []
    for j in frecc_colums:
        if j in i:
            filas.append(True)
        else:
            filas.append(False)
    matrix.append(filas)

In [39]:
matrix_pd = pd.DataFrame(matrix, columns = frecc_colums, index = df2.index)

In [40]:
matrix_pd.head()

,tech,help,career,course,ironhack,global,school,rank,num,worldwide,...,barcelona,miami,paris,mexico,city,berlin,amsterdam,sao,paulo,lisbon
1292585,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
761633,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
995362,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
274393,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1274133,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [41]:
matrix_pd['is_positive'] = df2['target'].apply(lambda x:True if x==4 else False)

In [42]:
matrix_pd.head()

,tech,help,career,course,ironhack,global,school,rank,num,worldwide,...,miami,paris,mexico,city,berlin,amsterdam,sao,paulo,lisbon,is_positive
1292585,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
761633,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
995362,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
274393,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
1274133,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [43]:
lista = []
for i in matrix_pd.index:
    dicc = {}
    for j in matrix_pd.columns[:-1]:
        dicc[j] = matrix_pd.loc[i,j]
    lista.append((dicc,matrix_pd.loc[i,"is_positive"]))

In [44]:
lista[10]

({'tech': True,
  'help': True,
  'career': True,
  'course': True,
  'ironhack': True,
  'global': True,
  'school': True,
  'rank': True,
  'num': True,
  'worldwide': True,
  'mission': True,
  'people': True,
  'transform': True,
  'join': True,
  'thrive': True,
  'community': True,
  'professionals': True,
  'love': True,
  'ideology': True,
  'reflect': True,
  'teach': True,
  'practice': True,
  'consist': True,
  'nine': True,
  'weeks': True,
  'immersive': True,
  'program': True,
  'ux': True,
  'ui': True,
  'design': True,
  'data': True,
  'analytics': True,
  'well': True,
  'one': True,
  'week': True,
  'hire': True,
  'fair': True,
  'aim': True,
  'students': True,
  'change': True,
  'get': True,
  'job': True,
  'straight': True,
  'present': True,
  'countries': True,
  'campuses': True,
  'locations': True,
  'madrid': True,
  'barcelona': True,
  'miami': True,
  'paris': True,
  'mexico': True,
  'city': True,
  'berlin': True,
  'amsterdam': True,
  'sao': True,
  'paulo': True,
  'lisbon': True},
 False)

In [45]:
training_set = lista[:19000]
testing_set = lista[19000:]

In [46]:
from nltk.classify import NaiveBayesClassifier
import nltk.classify.util

In [47]:
classifier = nltk.NaiveBayesClassifier.train(training_set)

In [48]:
print("Classifier accuracy percet", (nltk.classify.accuracy(classifier, testing_set))*100)

Classifier accuracy percet 46.800000000000004

In [49]:
classifier.show_most_informative_features(15)

Most Informative Features
                     aim = True            False : True   =      1.0 : 1.0
               amsterdam = True            False : True   =      1.0 : 1.0
               analytics = True            False : True   =      1.0 : 1.0
               barcelona = True            False : True   =      1.0 : 1.0
                  berlin = True            False : True   =      1.0 : 1.0
                campuses = True            False : True   =      1.0 : 1.0
                  career = True            False : True   =      1.0 : 1.0
                  change = True            False : True   =      1.0 : 1.0
                    city = True            False : True   =      1.0 : 1.0
               community = True            False : True   =      1.0 : 1.0
                 consist = True            False : True   =      1.0 : 1.0
               countries = True            False : True   =      1.0 : 1.0
                  course = True            False : True   =      1.0 : 1.0
                    data = True            False : True   =      1.0 : 1.0
                  design = True            False : True   =      1.0 : 1.0