In [1]:
#importar librerias
import pandas as pd
import numpy as np
import warnings
import re
#from funciones import *

In [2]:
#importar la base de datos desde el archivo .csv 
attacks = pd.read_csv('data/attacks.csv', encoding = 'ISO-8859-1', sep=',')

In [3]:
#Entender cuantas filas y columnas tiene la tabla
attacks.shape

(25723, 24)

In [4]:
#información general de la tabla, columnas y tipos de datos
attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [5]:
#ver cuántos nulos hay en cada columna 
attacks.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [6]:
#se ve que hay muchas filas que tienen sus valores nulos, quiero saber el indice de estas
rows_with_nan = [index for index, row in attacks.iterrows() if row.isnull().all()]

In [7]:
print(len(rows_with_nan)) #hay 17020 filas que todos sus valores son nulos

17020

In [8]:
#se eliminan filas que todos sus valores son nulos

attacks_row_null = attacks.dropna(how='all')

print("Shape de tabla original: ",attacks.shape)
print("Shape de tabla sin filas de nulos: ",attacks_row_null.shape)

Shape de tabla original:  (25723, 24)
Shape de tabla sin filas de nulos:  (8703, 24)

In [9]:
#ver cuántos nulos hay en cada columna en la nueva tabla
attacks_row_null.isna().sum()

Case Number                  1
Date                      2401
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Location                  2941
Activity                  2945
Name                      2611
Sex                       2966
Age                       5232
Injury                    2429
Fatal (Y/N)               2940
Time                      5755
Species                   5239
Investigator or Source    2418
pdf                       2401
href formula              2402
href                      2401
Case Number.1             2401
Case Number.2             2401
original order            2394
Unnamed: 22               8702
Unnamed: 23               8701
dtype: int64

In [10]:
#vemos la tabla
attacks_row_null

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Hay muchas filas que tienen un 0 en la primera columna y las otras columnas son todas nulas
#Se eliminan filas que tienen más del 50% de columnas con valores nulos (>12 columnas)

attacks_50_null = attacks_row_null.copy()

for index, row in attacks_50_null.iterrows():
    is_nan_series = row.isnull()
    if list(is_nan_series).count(True)>(attacks_50_null.shape[1]*.50):
        attacks_50_null.drop([index], inplace=True)

attacks_50_null.reset_index(inplace=True, drop = True)

In [12]:
print("Shape de tabla inicial: ",attacks.shape)
print("Shape de tabla sin filas de nulos: ",attacks_row_null.shape)
print("Shape de tabla sin filas con más de 50% nulos: ",attacks_50_null.shape)

Shape de tabla inicial:  (25723, 24)
Shape de tabla sin filas de nulos:  (8703, 24)
Shape de tabla sin filas con más de 50% nulos:  (6302, 24)

In [13]:
#ya se eliminaron todas las filas con más de 50% de valores nulos, ahora vamos a verificar las columnas
attacks_50_null.isna().sum()

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [14]:
#el total de filas de la tabla es de 6302 y vemos que hay dos columnas con 6300 y 6301 valor nulos.
#se van a eliminar las columnas que tengan más del 80% de nulos

columns_null = []

for index, row in attacks_50_null.T.iterrows():
    is_nan_series = row.isnull()
    if list(is_nan_series).count(True)>(attacks_50_null.shape[0]*.80):
        columns_null.append(index)
        
print("se van a eliminar las columnas: ",columns_null)       
attacks_50_null.drop(columns_null, axis=1, inplace = True)

se van a eliminar las columnas:  ['Unnamed: 22', 'Unnamed: 23']

In [15]:
#ya se tiene la tabla limpia de columnas y filas vacias
attacks_no_null = attacks_50_null.copy()

In [16]:
attacks_no_null

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

In [17]:
#Vamos a verificar qué otras columnas tienen muchos nulos y qué hacer con ellas
attacks_no_null.isna().sum()

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [18]:
#Creamos una nueva columna para organizar los datos de la columna "time"
attacks_no_null["Time_classified"] = attacks_no_null["Time"].copy()

In [19]:
#Funciones para clasificar la columna "Time"

def time(hora):
    try:
        if hora >= 0 and hora < 6:
            return "00h00 - 06h00"
        elif hora >= 6 and hora < 12:
            return "06h00 - 12h00"
        elif hora >= 12 and hora < 18:
            return "12h00 - 18h00"
        elif hora >= 18 and hora < 24:
            return "18h00 - 24h00"
        else:
            #print("otra hora",hora)
            return "No specific time"
    except:
        #print("error: ",hora, type(hora))
        return "No specific time"
    
    
def time_classification(x):
    try:
        hora = int(x["Time"][0:2])
        #print("ingresa Num: ",hora)
        periodo = time(hora)
        return periodo
    except:
        #print("ingresa Str: ",x["Time"])
        if x["Time"] == x["Time"]:
            if re.search("\w+orning.*", x["Time"]) or re.search("[Aa].{0,1}[Mm]", x["Time"]):
                return "06h00 - 12h00" 
            elif re.search("\w+fter\s*no.*", x["Time"]) or re.search("[Pp].{0,1}[Mm]", x["Time"]) or re.search("[Mm]id", x["Time"]):
                return "12h00 - 18h00"
            elif re.search("\w+igh.*", x["Time"]) or re.search("[Ee]ve", x["Time"]) or re.search("[Dd]u", x["Time"]):
                return "18h00 - 24h00"
            elif re.search("\d\d\D+", x["Time"]):
                hora = re.findall("\d\d",x["Time"])
                periodo = time(int(hora[0]))
                return periodo
            else:
                #print("Otro: ",x["Time"])
                return "No specific time"
        else:
            return "No specific time"

In [20]:
#Vamos a reemplazar las horas por periodos del día

attacks_no_null["Time_classified"] = attacks_no_null.apply(lambda x: time_classification(x), axis = 1)

In [21]:
#Verificamos las primeras filas
attacks_no_null[["Time","Time_classified"]].head()

            Time   Time_classified
0          18h00     18h00 - 24h00
1  14h00  -15h00     12h00 - 18h00
2          07h45     06h00 - 12h00
3            NaN  No specific time
4            NaN  No specific time

In [22]:
#contamos los valores de la columna "Time_classified"
attacks_no_null["Time_classified"].value_counts()

No specific time    3387
12h00 - 18h00       1587
06h00 - 12h00        930
18h00 - 24h00        353
00h00 - 06h00         45
Name: Time_classified, dtype: int64

In [23]:
#La siguiente columna a limpiar va a ser "Species"
#El nombre de la columna tiene un espacio extra, hacemos el cambio
attacks_no_null.rename(columns={'Species ': 'Species'}, inplace = True)

In [24]:
#Creamos una nueva columna para organizar los datos de la columna "Species"
attacks_no_null["Species_classified"] = attacks_no_null["Species"].copy()

In [25]:
#palabras que se quiere eliminar de la columna
stop = ["Possibly","for","no","fragments","larger","less","than","by",
        "determined","adult","male","hooked","captured","involved","cm",
        "feet","female","tooth", "fragment", "recovered","according", 
        "witnesses","said","be","averaged","length","pack","of","seen", 
        "in", "vicinity",'',"kg","lb","small","a","m","thought", "to", 
        "involve","possibly", "juvenile","suspected", "due", "freshwater", 
        "habitat"]

#Función para clasificar la columna "Species"
def species_classification(x):
    #verifica si es NaN o no
    if x["Species"] == x["Species"]:
        especie_div = x["Species"].split()
        especie_stop = []
        #elimina carácteres especiales
        for i in especie_div:
            x = i.lower()
            x = re.sub("[^a-zA-Z]", "", x)
            x = x.replace("sharks","shark")
            #elimina palabras que esten en la lista de stop words
            if x not in stop:
                especie_stop.append(x.lower())
        #genera el nuevo string a validar
        especie = " ".join(especie_stop).capitalize()
        #validación extra para strings con muchas palabras
        if "shark" in especie_stop:
            i_shark = especie_stop.index("shark")
            if len(especie_stop)>2:
                especie_alt = (especie_stop[i_shark-2]+" "+especie_stop[i_shark-1] +" "+ especie_stop[i_shark]).capitalize()
            else:
                especie_alt = (especie_stop[i_shark-1] +" "+ especie_stop[i_shark]).capitalize()
        else:
            especie_alt = "Other species"
            
        #validaciones de las categorias más comunes
        if len(especie) == 0:
            return "Not confirmed"
        elif re.search("[Nn]ot", especie) or re.search(".*un.*", especie) or re.search(".*[Qq]ue.*", especie) or re.search("[Uu]ni", especie) or especie == "Shark":
            return "Not confirmed"
        elif re.search("[Ii]nvalid", especie) or re.search("No shark involvement", especie):
            return "No shark involvement"
        elif re.search("[Ww]hite\s", especie):
            return "White shark"
        elif re.search("[Tt]ig", especie):
            return "Tiger shark"
        elif re.search("[Ss]pin", especie):
            return "Spinner shark"
        else:
            return especie_alt
    else:
        return "Not confirmed"

In [26]:
#Vamos a clasificar las especies

attacks_no_null["Species_classified"] = attacks_no_null.apply(lambda x: species_classification(x), axis = 1)

In [27]:
#contamos los valores de la columna "Time_classified"
attacks_no_null["Species_classified"].value_counts().head(10)

Not confirmed           4179
White shark              628
Tiger shark              281
Bull shark               159
No shark involvement     103
Bronze whaler shark       60
Blacktip shark            55
Nurse shark               49
Spinner shark             48
Other species             44
Name: Species_classified, dtype: int64

In [28]:
#Verificamos las primeras filas de "Species"
attacks_no_null[["Species","Species_classified"]].head(10)

           Species Species_classified
0      White shark        White shark
1              NaN      Not confirmed
2              NaN      Not confirmed
3        2 m shark      Not confirmed
4  Tiger shark, 3m        Tiger shark
5              NaN      Not confirmed
6      Tiger shark        Tiger shark
7  Lemon shark, 3'        Lemon shark
8   Bull shark, 6'         Bull shark
9              NaN      Not confirmed

In [29]:
#La siguiente columna a limpiar va a ser "Age"
#Creamos una nueva columna para organizar los datos de la columna "Ages"
attacks_no_null["Age_classified"] = attacks_no_null["Age"].copy()

In [30]:
#Función para clasificar la columna "Age"
def age_classification(x):
    if x["Age"] == x["Age"]:
        age = x["Age"]
        
        #quitamos caracteres que no sean números
        age = re.sub("[^0-9]", " ", age)
        age = list(map(int, age.split())) 
        
        #verificamos cuántos números vienen en la edad
        if len(age) == 0:
            return "No record"
        elif len(age) == 1:
            age = age[0]
        else:
            age = round(sum(age)/len(age))
        
        #clasificamos la edad en rangos
        if age <= 10:
            return "0 - 10"
        elif age <= 20:
            return "11 - 20"
        elif age <= 30:
            return "21 - 30"
        elif age <= 40:
            return "31 - 40"
        elif age <= 50:
            return "41 - 50"
        elif age <= 60:
            return "51 - 60"
        elif age <= 70:
            return "61 - 70"
        elif age <= 80:
            return "71 - 80"
        else:
            return "81 or more"
    else:
        return "No record"

In [31]:
#Vamos a clasificar las edades

attacks_no_null["Age_classified"] = attacks_no_null.apply(lambda x: age_classification(x), axis = 1)

In [32]:
attacks_no_null["Age_classified"].value_counts()

No record     2861
11 - 20       1192
21 - 30        948
31 - 40        525
41 - 50        331
0 - 10         179
51 - 60        178
61 - 70         67
71 - 80         16
81 or more       5
Name: Age_classified, dtype: int64

In [33]:
#La siguiente columna a limpiar va a ser "Year"
#Creamos una nueva columna para organizar los datos de la columna
attacks_no_null["Year_classified"] = attacks_no_null["Year"].copy()

In [34]:
#Función para limpiar la columna de años

def year_classification(x):
    if x["Year"] == x["Year"]:
        year = int(x["Year"])
        if len(str(year))<4:
            return "No record"
        else:
            return year
    else:
        return "No record"

In [35]:
#llamamos a función que  limpia los años
attacks_no_null["Year_classified"] = attacks_no_null.apply(lambda x: year_classification(x), axis = 1)

In [36]:
#Resumen de años
attacks_no_null["Year_classified"].value_counts()

2015         143
2017         136
No record    130
2016         130
2011         128
            ...
1788           1
1787           1
1786           1
1785           1
1792           1
Name: Year_classified, Length: 246, dtype: int64

In [37]:
'''La siguiente columna a limpiar va a ser "Date". Dado que ya tenemos otra columna con el año,
en está columna me interesa saber el mes del ataque.
Creamos una nueva columna para organizar los datos de mes de la columna'''

attacks_no_null["Month_classified"] = attacks_no_null["Date"].copy()

In [38]:
#Función para limpiar la columna de meses

def month_classification(x):
    months_dict = {"[Jj]an":"January",
                   "[Ff]eb":"February",
                   "[Mm]ar":"March",
                   "[Aa]pr":"April",
                   "[Mm]ay":"May",
                   "[Jj]un":"June",
                   "[Jj]ul":"July",
                   "[Aa]ug":"August",
                   "[Ss]ep":"September",
                   "[Oo]ct":"October",
                   "[Nn]ov":"November",
                   "[Dd]ec":"December"}
    if x["Date"] == x["Date"]:
        month = x["Date"]
        for key, value in months_dict.items():
            if re.search(key, month):
                #print(month,value)
                return value
        return "No record"
    else:
        return "No record"

In [39]:
#llamamos a función que  limpia los años
attacks_no_null["Month_classified"] = attacks_no_null.apply(lambda x: month_classification(x), axis = 1)

In [40]:
#Resumen de meses
attacks_no_null["Month_classified"].value_counts()

July         671
August       602
September    555
January      519
No record    519
June         497
April        455
October      445
December     438
March        413
November     408
May          398
February     382
Name: Month_classified, dtype: int64

In [41]:
#La siguiente columna a limpiar va a ser "Type".
#Creamos una nueva columna para organizar los datos de la columna

attacks_no_null["Type_classified"] = attacks_no_null["Type"].copy()

In [42]:
#Función para limpiar la columna de meses

def type_classification(x):
    if x["Type"] == x["Type"]:
        type = x["Type"]
        if re.search("[Bb]oat", type):
                return "Not specified"
        else:
            return type
    else:
        return "Not specified"

In [43]:
#llamamos a función que  limpia los tipos de ataques
attacks_no_null["Type_classified"] = attacks_no_null.apply(lambda x: type_classification(x), axis = 1)

In [44]:
#Resumen de Type
attacks_no_null["Type_classified"].value_counts()

Unprovoked       4595
Provoked          574
Invalid           547
Not specified     345
Sea Disaster      239
Questionable        2
Name: Type_classified, dtype: int64

In [45]:
#La siguiente columna a limpiar va a ser "Country".
#Creamos una nueva columna para organizar los paises de la columna

attacks_no_null["Country_classified"] = attacks_no_null["Country"].copy()

In [46]:
#Palabras a quitar de la columna
stop = ["uae","between","federated", "states", "of","bay","coast","overseas","territory","territories"]

#Función para limpiar la columna de paises
def country_classification(x):
    if x["Country"] == x["Country"]:
        country = x["Country"].strip().lower()
        country = re.sub("[^a-zA-Z &\\/]", "", country)
        if "/" in country:
            country = country.split("/")
            country = country[0]
        country_lst = country.split()
        country_stop = []
        for i in country_lst:
            if i not in stop:
                country_stop.append(i.capitalize())
        country = " ".join(country_stop)
        return country_verification(country)
    else:
        return "Not specified"
    
#Funcion para verificar regex en paises
def country_verification(country):
    countries_dict = {"[Oo]cean":"Not specified",
                      "[Ss]ea":"Not specified",
                      "^[Aa]frica$":"Country in Africa",
                      "[Aa]ndaman": "Andaman Islands",
                      "[Cc]eylon": "Sri Lanka",
                      "[Aa]sia":"Country in Asia"
                     }
    for key, value in countries_dict.items():
        if re.search(key, country):
            return value
    return country

In [47]:
#llamamos a función que limpia los paises
attacks_no_null["Country_classified"] = attacks_no_null.apply(lambda x: country_classification(x), axis = 1)

In [48]:
#Resumen de Country
attacks_no_null["Country_classified"].value_counts()

'Usa                         2229\nAustralia                   1338\nSouth Africa                 579\nNot specified                146\nPapua New Guinea             134\nNew Zealand                  128\nBrazil                       112\nBahamas                      109\nMexico                        90\nItaly                         72\nFiji                          65\nPhilippines                   62\nReunion                       60\nNew Caledonia                 53\nCuba                          46\nMozambique                    45\nSpain                         44\nEgypt                         41\nIndia                         40\nCroatia                       34\nJapan                         34\nPanama                        32\nSolomon Islands               31\nIran                          30\nJamaica                       27\nGreece                        25\nFrench Polynesia              25\nHong Kong                     24\nEngland                       23\nIndonesia                     23\nTonga                         18\nSri Lanka                     18\nCosta Rica                    17\nBermuda                       16\nVietnam                       15\nVanuatu                       14\nFrance                        13\nMarshall Islands              13\nCanada                        12\nIraq                          12\nTurkey                        12\nSenegal                       11\nVenezuela                     11\nUnited Kingdom                11\nKenya                         10\nNew Guinea                    10\nMauritius                     10\nEcuador                        9\nSierra Leone                   9\nColumbia                       9\nTaiwan                         9\nYemen                          9\nSouth Korea                    8\nThailand                       8\nSamoa                          8\nTanzania                       8\nChile                          8\nScotland                       8\nMadagascar                     8\nSeychelles                     8\nChina                          7\nDominican Republic             7\nIsrael                         7\nNicaragua                      7\nKiribati                       6\nBarbados                       6\nSomalia                        6\nNew Britain                    6\nSingapore                      6\nLibya                          6\nOkinawa                        6\nPalau                          5\nSaudi Arabia                   5\nMalta                          5\nMalaysia                       5\nSudan                          5\nAzores                         5\nTurks & Caicos                 5\nHonduras                       4\nBurma                          4\nEl Salvador                    4\nGrenada                        4\nUnited Arab Emirates           4\nNigeria                        4\nPersian Gulf                   4\nUruguay                        4\nGuam                           4\nMicronesia                     4\nRussia                         4\nBelize                         3\nMontenegro                     3\nLebanon                        3\nPortugal                       3\nHaiti                          3\nGuyana                         3\nAmerican Samoa                 3\nLiberia                        3\nMartinique                     3\nCape Verde                     3\nGuinea                         3\nTrinidad & Tobago              3\nTunisia                        3\nCentral Pacific                2\nCountry in Africa              2\nWest Indies                    2\nAndaman Islands                2\nIceland                        2\nAntigua                        2\nCayman Islands                 2\nCrete                          2\nTobago                         2\nNorway                         2\nJohnston Island                2\nSt Helena British              2\nNamibia                        2\nGeorgia                        1\nFalkland Islands               1\nNorthern Mariana Islands       1\nParaguay                       1\nGhana                          1\nGreenland                      1\nAngola                         1\nSlovenia                       1\nSyria                          1\nGuatemala                      1\nGrand Cayman                   1\nRoatan                         1\nCuracao                        1\nEquatorial Guinea              1\nArgentina                      1\nComoros                        1\nTuvalu                         1\nDiego Garcia                   1\nKuwait                         1\nNevis                          1\nCyprus                         1\nSt Martin                      1\nWestern Samoa                  1\nMaldives                       1\nBengal                         1\nIreland                        1\nMaldive Islands                1\nDjibouti                       1\nGulf Aden                      1\nCook Islands                   1\nSt Maartin                     1\nBritish West Indies            1\nBritish Virgin Islands         1\nNetherlands Antilles           1\nJava                           1\nPuerto Rico                    1\nMonaco                         1\nCountry in Asia                1\nBangladesh                     1\nSweden                         1\nSan Domingo                    1\nThe Balkans                    1\nPeru                           1\nBritish Isles                  1\nMayotte                        1\nKorea                          1\nAlgeria                        1\nReunion Island                 1\nPortugal & India               1\nPalestinian                    1\nAdmiralty Islands              1\nBritish New Guinea             1\nBahrein                        1\nGabon                          1\nAruba                          1'

In [49]:
#La siguiente columna a limpiar va a ser "Activity".
#Creamos una nueva columna para organizar las actividades

attacks_no_null["Activity_classified"] = attacks_no_null["Activity"].copy()

In [50]:
#Función para limpiar la columna de actividades
def activity_classification(x):
    if x["Activity"] == x["Activity"]:
        activity = x["Activity"].strip().lower()
        activity = re.sub("[^a-zA-Z \\/]", "", activity)
        activity = activity.split()
        verbs = []
        for i in activity:
            txt = re.findall(".*ing", i)
            if len(txt)>=1:
                verbs.append(txt[0])
        if len(verbs)>=1:
            if "shark" in activity or "sharks" in activity:
                act = verbs[0]+" sharks"
                #print("tibu: ",act,"... original:",x["Activity"])
                return act.capitalize()
            else:
                #print("Actividad:",verbs[0],"... original:",x["Activity"])
                return verbs[0].capitalize()
        else:
            #print("Sin Act:",x["Activity"])
            return "Not specified"
    else:
        return "Not specified"

In [51]:
#llamamos a función que limpia las actividades
attacks_no_null["Activity_classified"] = attacks_no_null.apply(lambda x: activity_classification(x), axis = 1)

In [52]:
#Resumen de Activity
attacks_no_null["Activity_classified"].value_counts()

Swimming         1095
Surfing          1080
Not specified     948
Fishing           648
Diving            511
                 ...
Fleeing             1
Skimboarding        1
Netfishing          1
Casting             1
Angling             1
Name: Activity_classified, Length: 238, dtype: int64

In [53]:
#La siguiente columna a limpiar va a ser "Sex".
#El nombre de la columna tiene un espacio extra, hacemos el cambio
attacks_no_null.rename(columns={'Sex ': 'Sex'}, inplace = True)

In [54]:
#Creamos una nueva columna para organizar el genero
attacks_no_null["Sex_classified"] = attacks_no_null["Sex"].copy()

In [55]:
#Función para limpiar la columna de genero
def sex_classification(x):
    if x["Sex"] == x["Sex"]:
        gender = x["Sex"]
        if re.search("[Mm]", gender):
            return "M"
        elif re.search("[Ff]", gender):
            return "F"
        else:
            return "Not specified"
    else:
        return "Not specified"

In [56]:
#llamamos a función que limpia el genero
attacks_no_null["Sex_classified"] = attacks_no_null.apply(lambda x: sex_classification(x), axis = 1)

In [57]:
#Resumen de Sex (genero)
attacks_no_null["Sex_classified"].value_counts()

M                5096
F                 637
Not specified     569
Name: Sex_classified, dtype: int64

In [58]:
#La siguiente columna a limpiar va a ser "Fatal (Y/N)".
#Creamos una nueva columna para organizar la columna

attacks_no_null["Fatal_classified"] = attacks_no_null["Fatal (Y/N)"].copy()

In [59]:
#Función para limpiar la columna de "Fatal"
def fatal_classification(x):
    if x["Fatal (Y/N)"] == x["Fatal (Y/N)"]:
        fatal = x["Fatal (Y/N)"]
        if re.search("[Yy]", fatal):
            return "Y"
        elif re.search("[Nn]", fatal):
            return "N"
        else:
            return "Not specified"
    else:
        return "Not specified"

In [60]:
#llamamos a función que limpia "Fatal"
attacks_no_null["Fatal_classified"] = attacks_no_null.apply(lambda x: fatal_classification(x), axis = 1)

In [61]:
#Resumen de "Fatal (Y/N)"
attacks_no_null["Fatal_classified"].value_counts()

N                4372
Y                1389
Not specified     541
Name: Fatal_classified, dtype: int64

In [62]:
#La siguiente columna a limpiar va a ser "Injury".
#Creamos una nueva columna para organizar la columna

attacks_no_null["Injury_classified"] = attacks_no_null["Injury"].copy()

In [63]:
#Función para limpiar la columna de "Injury"
def injury_classification(x):
    if x["Injury"] == x["Injury"]:
        injury = x["Injury"].strip().lower()
        injury = re.sub("[^a-zA-Z ]", "", injury)
        return injury_verification(injury)
    else:
        return "Not specified"
    
#Funcion para verificar regex en injury
def injury_verification(injury):
    injury_dict = {"fatal":"Fatal",
                   "no injury":"No injury",
                   "bitten|right|left|injur|bite":"Body bite / injured",
                   "no.*details|surv|not|nonfatal":"Not specified",
                   "lacera|abra":"Body lacerations",
                   "severed|ampu":"Amputated limb",
                   "minor|punc":"Minor injury",
                   "drown":"Drowned"}
    for key, value in injury_dict.items():
        if re.search(key, injury):
            return value
    return "Not specified"

In [64]:
#llamamos a función que limpia "Injury"
attacks_no_null["Injury_classified"] = attacks_no_null.apply(lambda x: injury_classification(x), axis = 1)

In [65]:
#Resumen de injury
attacks_no_null["Injury_classified"].value_counts()

Body bite / injured    2577
Fatal                  1362
No injury               804
Body lacerations        662
Not specified           645
Amputated limb           88
Minor injury             83
Drowned                  81
Name: Injury_classified, dtype: int64

In [66]:
#La siguiente columna a limpiar va a ser "Name".
#Creamos una nueva columna para organizar los nombres

attacks_no_null["Name_classified"] = attacks_no_null["Name"].copy()

In [67]:
stop = ["yacht", "owened", "by","launch","a","pilot","air","force","officer","royal","australian","skiff", "occupant","captain","occupants"]
name_dict = {"valet|atla|coa|dingh|teen|peo|passe|teac|male|boy|boat|child|anony|sailor|girl|unid|unkn|fish|div|native|sold|men$|wom|young|yout|crew":"Not confirmed"}

#Función para limpiar la columna de "Name"
def name_classification(x):
    if x["Name"] == x["Name"]:
        name = x["Name"].lower()
        name_lst = name.split(",")
        name_lst = name_lst[0].strip()
        name_lst = name_lst.split()
        name_stop = []
        for i in name_lst:
            if i not in stop:
                name_stop.append(i.capitalize())
        if len(name_stop) <2:
            return "Not confirmed"
        else:
            name = " ".join(name_stop)
            name = re.sub("[^a-zA-Z .]", "", name)
        for key, value in name_dict.items():
            if re.search(key, name.lower()):
                return value
        if len(name.split())<2:
            return "Not confirmed"
        else:
            return name
    else:
        return "Not confirmed"

In [68]:
#llamamos a función que limpia "Name"
attacks_no_null["Name_classified"] = attacks_no_null.apply(lambda x: name_classification(x), axis = 1)

In [297]:
#Resumen de name
attacks_no_null["Name_classified"].value_counts()

Not confirmed             1906
Andre Hartman                3
John Williams                3
Hideo Ishida                 2
John Holmes                  2
                          ...
E.s. Hobson                  1
Eric Johanssen               1
Siale Sime                   1
Private Isaac Hicksled       1
Turua William Maretapu       1
Name: Name_classified, Length: 4357, dtype: int64

In [75]:
#Resumen de name
lista = attacks_no_null["Area"].value_counts().sort_index()
print(lista.to_string())

 Kikori River mouth                                                  1
 La Libertad                                                         1
 Lau Province                                                        1
 Loyalty Islands                                                     1
 Manila Bay                                                          1
 New Jersey                                                          1
 North Carolina                                                      1
 Nusa Tenggara                                                       1
 Primorje-Gorski Kotar County                                        9
 Split-Dalmatia Count,                                               3
 Split-Dalmatia County                                               2
 Upolu Island                                                        1
"Head of the Gulf"                                                   1
(Southwestern Pacific)                                               1
04.05N-13.23W                                                        1
1,000 miles east of Hawaii                                           1
1000 miles west of Hawaii                                            2
10ºS, 142ºE                                                          1
12 miles off the north coast                                         1
150 miles offshore                                                   1
165  miles from Bermuda                                              1
180 miles southeast of Okinawa                                       1
18S / 50E                                                            1
19S, 178?E                                                           1
2 to 3 miles off Taboguilla Island, Pacific Ocean                    1
200 nm southeast of Manila                                           1
22ºN, 88ºE                                                           4
25 km off the coast of Iran & 483km from mouth of Persian Gulf       1
250 miles southwest of O'ahu, Hawaii                                 1
30 nm from Singapore                                                 1
300 miles east of Luzon                                              1
300 miles east of Mauritius                                          1
300 miles east of St. Thomas (Virgin Islands)                        1
300 miles from Antigua                                               1
330 to 350 miles east of Wake Island                                 1
33N, 68W                                                             1
35º39 : 165º8'                                                       1
40 miles off Grand Bahama Island                                     1
40 miles south of Naples                                             1
400 miles southeast of Sri Lanka                                     1
5aint-Denis                                                          1
60 miles north of San Domingo in the West Indies                     1
600 nm west of the Canary Islands                                    1
740 miles SE of Tarawa Atoll                                         1
800 miles from land                                                  1
9.35N 79.35W                                                         1
Abaco Islands                                                       23
Abau Sub District, Central Province                                  3
Abau Subdistrict,Central Province                                    1
Adana Province                                                       1
Aden                                                                 7
Admiralty Islands, Manus Province                                    8
Adriatic Sea                                                        12
Ahirkapi coast                                                       1
Aichi Prefecture                                                     1
Alabama                                                             15
Alagoas                                                              2
Alaska                                                               1
Alicante                                                             3
Alicante Province                                                    1
Alifu Alifu Atoll                                                    1
Alinglaplap Atoll                                                    2
Alpes Maritime                                                       1
Altagracia Province                                                  1
Ambergris Caye                                                       1
Amirante Islands                                                     1
Anatolia                                                             1
Ancona Province                                                      1
Andalucia                                                            1
Andaman Islands                                                      1
Andikira Fokithes                                                    1
Andros Islands                                                       7
Anjouan                                                              1
Antalya Province                                                     1
Antarctic Ocean                                                      1
Antibes                                                              1
Antofagasta Province                                                 1
Antsiranana Province                                                 1
Anzoategui                                                           2
Apolima Strait                                                       1
Argyll                                                               1
Argyllshire                                                          1
Arran                                                                1
Ascension Bay                                                        1
Ascension Island                                                     2
Atsumi peninsula                                                     1
Attica                                                               1
Aulong Island                                                        1
Ba Ria-Vung Tau  Province                                            1
Baatan                                                               1
Bahia                                                                3
Baie de Sainte-Marie                                                 1
Baja California                                                     10
Baja California Sur                                                  1
Balearics                                                            1
Bali                                                                 6
Balneário Camboriú                                                   1
Banaadir Region                                                      4
Bandar Mashur sea inlet                                             1
Bardestrand                                                          1
Barlavento Islands                                                   1
Basrah                                                               9
Basrah City                                                          1
Batanes Provine                                                      1
Batangas province                                                    1
Bay Islands                                                          1
Bay of Bengal                                                        1
Bay of Biscay                                                        1
Bay of Campeche                                                      1
Bay of Fundy                                                         1
Bay of Maputo                                                        1
Bay of Maputu                                                        1
Bay of Monaco                                                        1
Bayelsa State                                                        1
Beaufonds                                                            1
Bernardino Strait near Gulf of Leyte                                 1
Berry Islands                                                        2
Between Australia & USA                                              1
Between Beira & Maputo                                               1
Between Comores & Madagascar                                         1
Between DR and Puerto Rico                                           1
Between England & South Africa                                       1
Between Hastings & Fairlight, Sussex                                 1
Between Hawaii & Wake Island                                         2
Between Hawaii and U.S.A.                                            1
Between Honiara & Isabel Island                                      1
Between Kwajalein Atoll & Johnston Island                            1
Between New Ireland & New Britain                                    1
Between Noumea & Sydney                                              1
Between Perth & Colombo                                              1
Between Somalia & Yemen                                              1
Between Southampton & Canary Islands                                 1
Between Timor & Darwin, Australia                                    1
Bikini Atoll                                                         1
Bimini                                                               1
Bimini Islands                                                       6
Binh Dinh Province                                                   8
Bird Island                                                          1
Biserta                                                              1
Black River                                                          1
Boa Vista Island                                                     1
Bocas                                                                1
Bocas del Toro                                                       1
Bocas del Toro Province                                              1
Boi Island, Victoria                                                 1
Bois-Blanc                                                           1
Bonin Islands                                                        1
Bora Bora                                                            2
Bougainville (North Solomons)                                        9
Brindisi Province                                                    1
British Colombia                                                     1
Brittany                                                             1
Buenos Aires Province                                                1
Bwagaoia                                                             1
CUBA                                                                 1
Cabo San Lucas                                                       1
Caicos Bank                                                          2
Calabria                                                             3
California                                                         290
Calvados Archipelago                                                 1
Camaguey Province                                                    2
Camiguin Island                                                      1
Canal Zone                                                           2
Canary Islands                                                       8
Cap Vert Peninsula                                                   6
Cap-Vert Peninsula                                                   1
Cape Coast                                                           1
Cape Haitien                                                         1
Carabobo                                                             1
Cargados Carajos Shoals (St. Brandon)                                1
Caribbean Coast                                                      1
Caribbean Sea                                                        7
Caroline Islands                                                     1
Carpathian Sea                                                       1
Casamance                                                            1
Castellón                                                            1
Cat Cay                                                              2
Catalonia                                                            4
Catalunya                                                            1
Cavite Province, Luzon                                               1
Cay Sal Bank                                                         1
Central Philippines                                                  1
Central Province                                                    22
Central Tuamotu                                                      1
Chatham Islands                                                      1
Chatham Islands                                                      1
Chatham Islands, east of New  Zealand                                1
Cheshire                                                             2
Chungnam                                                             1
Cienfuegos Province                                                  1
Cikobia Island (north of Vanua Levu)                                 1
Clarendon                                                            1
Clearwater Bay                                                       1
Coast Province                                                       6
Cocos Island                                                         3
Colima                                                               4
Colon                                                                1
Colon Province                                                       2
Colón Province                                                       2
Conakry Region                                                       1
Congreve Channel                                                     1
Connecticut                                                          6
Conservatória District                                               1
Cook Islands                                                         4
Cook Strait                                                          1
Cook islans                                                          1
Coquimbo                                                             1
Corfu                                                                2
Corfu                                                                1
Corfu Island                                                         3
Cornwall                                                             4
Corregidor Island                                                    1
Cortés                                                               1
Costa Blanca                                                         1
Cumberland                                                           2
Curacao                                                              1
Cyclades                                                             1
Cyclades archipelago                                                 1
Cyrenaica                                                            1
Cádiz                                                                3
Côte d'Azur                                                          2
Côte d'Azur                                                          1
Dar-es-Salaam                                                        1
Delagoa Bay                                                          1
Delaware                                                             7
Delta                                                                1
Demerara County                                                      1
Devon                                                                3
Dodecanese Islands                                                   2
Dorset                                                               2
Dubai                                                                1
Duke of York Islands                                                 2
East Flores                                                          1
East Java                                                            2
East New Britain                                                     1
East New Britain Province                                            2
East Sepik                                                           2
East Wall                                                            1
East Yorkshire                                                       1
East coast                                                           2
East of the Gulf of Aqaba                                            1
Easter Ross                                                          1
Eastern  Province                                                    2
Eastern Cape  Province                                               1
Eastern Cape Province                                              160
Eastern Caroline Islands                                             2
Eastern Catalona                                                     1
Eastern Province                                                     9
Edinburgh                                                            1
Ehime Prefecture                                                     6
Eleuthera                                                            4
Elqui Province                                                       1
English Channel                                                      2
Eniwetok Atoll                                                       3
Enroute from Suez to Aden (Yemen)                                    1
Eronogo Region                                                       1
Essequibo                                                            1
Estuaire Province                                                    1
Exuma Islands                                                        5
Fernando Po Island                                                   1
Fernando de Noronha                                                  1
Fife                                                                 1
Fishing Grounds                                                      1
Florida                                                           1037
Florida                                                              1
Florida Straits                                                      1
Foveaux Strait                                                       1
French Southern Territories                                          1
Fujairah Emirate                                                     1
Galapagos Islands                                                    7
Galica                                                               1
Galicia                                                              1
Ganges-Brahmaputra delta                                             1
Gaza                                                                16
Genoa  Province                                                      1
Genoa Province                                                       1
Georges Bank                                                         1
Georgia                                                             14
Gibraltar                                                            1
Gilbert Islands                                                      2
Golfo de Venezia                                                     1

In [70]:
attacks_no_null.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Age_classified,Year_classified,Month_classified,Type_classified,Country_classified,Activity_classified,Sex_classified,Fatal_classified,Injury_classified,Name_classified
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,51 - 60,2018,June,Not specified,Usa,Paddling,F,N,No injury,Julie Wolfe
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,11 - 20,2018,June,Unprovoked,Usa,Standing,F,N,Body bite / injured,Adyson Mcneely
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,41 - 50,2018,June,Invalid,Usa,Surfing,M,N,Body bite / injured,John Denges

In [71]:
attacks_no_null.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Time_classified',
       'Species_classified', 'Age_classified', 'Year_classified',
       'Month_classified', 'Type_classified', 'Country_classified',
       'Activity_classified', 'Sex_classified', 'Fatal_classified',
       'Injury_classified', 'Name_classified'],
      dtype='object')

In [72]:
attacks_clean = attacks_no_null[["Case Number","Month_classified","Year_classified","Type_classified","Country_classified","Area","Location","Activity_classified","Name_classified","Sex_classified","Age_classified","Injury_classified","Fatal_classified","Time_classified","Species_classified","Investigator or Source","pdf","href formula","href","Case Number.1","Case Number.2","original order"]].copy()

In [73]:
attacks_clean

,Case Number,Month_classified,Year_classified,Type_classified,Country_classified,Area,Location,Activity_classified,Name_classified,Sex_classified,...,Fatal_classified,Time_classified,Species_classified,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,June,2018,Not specified,Usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00 - 24h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,June,2018,Unprovoked,Usa,Georgia,"St. Simon Island, Glynn County",Standing,Adyson Mcneely,F,...,N,12h00 - 18h00,Not confirmed,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,June,2018,Invalid,Usa,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,06h00 - 12h00,Not confirmed,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,June,2018,Unprovoked,Australia,New South Wales,Arrawarra Headland,Surfing,Not confirmed,M,...,N,No specific time,Not confirmed,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,June,2018,Provoked,Mexico,Colima,La Ticla,Diving,Gustavo Ramos,M,...,N,No specific time,Tiger shark,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,No record,No record,Unprovoked,Australia,Western Australia,Roebuck Bay,Diving,Not confirmed,M,...,Y,No specific time,Not confirmed,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,No record,No record,Unprovoked,Australia,Western Australia,NaN,Diving,Not confirmed,M,...,Y,No specific time,Not confirmed,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,No record,No record,Unprovoked,Usa,North Carolina,Ocracoke Inlet,Swimming,Not confirmed,M,...,Y,No specific time,Not confirmed,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,No record,No record,Unprovoked,Panama,NaN,"Panama Bay 8ºN, 79ºW",Not specified,Jules Patterson,M,...,Y,No specific time,Not confirmed,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,No record,No record,Unprovoked,Sri Lanka,Eastern Province,"Below the English fort, Trincomalee",Swimming,Not confirmed,M,...,Y,No specific time,Not confirmed,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0