In [1]:
#importar librerias
import pandas as pd
import numpy as np
import warnings
import re
#from funciones import *

In [2]:
#importar la base de datos desde el archivo .csv 
attacks = pd.read_csv('data/attacks.csv', encoding = 'ISO-8859-1', sep=',')

In [3]:
#Entender cuantas filas y columnas tiene la tabla
attacks.shape

(25723, 24)

In [4]:
#información general de la tabla, columnas y tipos de datos
attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [5]:
#ver cuántos nulos hay en cada columna 
attacks.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [6]:
#se ve que hay muchas filas que tienen sus valores nulos, quiero saber el indice de estas
rows_with_nan = [index for index, row in attacks.iterrows() if row.isnull().all()]

In [7]:
print(len(rows_with_nan)) #hay 17020 filas que todos sus valores son nulos

17020

In [8]:
#se eliminan filas que todos sus valores son nulos

attacks_row_null = attacks.dropna(how='all')

print("Shape de tabla original: ",attacks.shape)
print("Shape de tabla sin filas de nulos: ",attacks_row_null.shape)

Shape de tabla original:  (25723, 24)
Shape de tabla sin filas de nulos:  (8703, 24)

In [9]:
#ver cuántos nulos hay en cada columna en la nueva tabla
attacks_row_null.isna().sum()

Case Number                  1
Date                      2401
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Location                  2941
Activity                  2945
Name                      2611
Sex                       2966
Age                       5232
Injury                    2429
Fatal (Y/N)               2940
Time                      5755
Species                   5239
Investigator or Source    2418
pdf                       2401
href formula              2402
href                      2401
Case Number.1             2401
Case Number.2             2401
original order            2394
Unnamed: 22               8702
Unnamed: 23               8701
dtype: int64

In [10]:
#vemos la tabla
attacks_row_null

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Hay muchas filas que tienen un 0 en la primera columna y las otras columnas son todas nulas
#Se eliminan filas que tienen más del 50% de columnas con valores nulos (>12 columnas)

attacks_50_null = attacks_row_null.copy()

for index, row in attacks_50_null.iterrows():
    is_nan_series = row.isnull()
    if list(is_nan_series).count(True)>(attacks_50_null.shape[1]*.50):
        attacks_50_null.drop([index], inplace=True)

attacks_50_null.reset_index(inplace=True, drop = True)

In [12]:
print("Shape de tabla inicial: ",attacks.shape)
print("Shape de tabla sin filas de nulos: ",attacks_row_null.shape)
print("Shape de tabla sin filas con más de 50% nulos: ",attacks_50_null.shape)

Shape de tabla inicial:  (25723, 24)
Shape de tabla sin filas de nulos:  (8703, 24)
Shape de tabla sin filas con más de 50% nulos:  (6302, 24)

In [13]:
#ya se eliminaron todas las filas con más de 50% de valores nulos, ahora vamos a verificar las columnas
attacks_50_null.isna().sum()

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [14]:
#el total de filas de la tabla es de 6302 y vemos que hay dos columnas con 6300 y 6301 valor nulos.
#se van a eliminar las columnas que tengan más del 80% de nulos

columns_null = []

for index, row in attacks_50_null.T.iterrows():
    is_nan_series = row.isnull()
    if list(is_nan_series).count(True)>(attacks_50_null.shape[0]*.80):
        columns_null.append(index)
        
print("se van a eliminar las columnas: ",columns_null)       
attacks_50_null.drop(columns_null, axis=1, inplace = True)

se van a eliminar las columnas:  ['Unnamed: 22', 'Unnamed: 23']

In [15]:
#ya se tiene la tabla limpia de columnas y filas vacias
attacks_no_null = attacks_50_null.copy()

In [16]:
attacks_no_null

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

In [17]:
#Vamos a verificar qué otras columnas tienen muchos nulos y qué hacer con ellas
attacks_no_null.isna().sum()

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [18]:
#Creamos una nueva columna para organizar los datos de la columna "time"
attacks_no_null["Time_classified"] = attacks_no_null["Time"].copy()

In [19]:
#Funciones para clasificar la columna "Time"

def time(hora):
    try:
        if hora >= 0 and hora < 6:
            return "00h00 - 06h00"
        elif hora >= 6 and hora < 12:
            return "06h00 - 12h00"
        elif hora >= 12 and hora < 18:
            return "12h00 - 18h00"
        elif hora >= 18 and hora < 24:
            return "18h00 - 24h00"
        else:
            #print("otra hora",hora)
            return "No specific time"
    except:
        #print("error: ",hora, type(hora))
        return "No specific time"
    
    
def time_classification(x):
    try:
        hora = int(x["Time"][0:2])
        #print("ingresa Num: ",hora)
        periodo = time(hora)
        return periodo
    except:
        #print("ingresa Str: ",x["Time"])
        if x["Time"] == x["Time"]:
            if re.search("\w+orning.*", x["Time"]) or re.search("[Aa].{0,1}[Mm]", x["Time"]):
                return "06h00 - 12h00" 
            elif re.search("\w+fter\s*no.*", x["Time"]) or re.search("[Pp].{0,1}[Mm]", x["Time"]) or re.search("[Mm]id", x["Time"]):
                return "12h00 - 18h00"
            elif re.search("\w+igh.*", x["Time"]) or re.search("[Ee]ve", x["Time"]) or re.search("[Dd]u", x["Time"]):
                return "18h00 - 24h00"
            elif re.search("\d\d\D+", x["Time"]):
                hora = re.findall("\d\d",x["Time"])
                periodo = time(int(hora[0]))
                return periodo
            else:
                #print("Otro: ",x["Time"])
                return "No specific time"
        else:
            return "No specific time"

In [20]:
#Vamos a reemplazar las horas por periodos del día

attacks_no_null["Time_classified"] = attacks_no_null.apply(lambda x: time_classification(x), axis = 1)

In [21]:
#Verificamos las primeras filas
attacks_no_null[["Time","Time_classified"]].head()

            Time   Time_classified
0          18h00     18h00 - 24h00
1  14h00  -15h00     12h00 - 18h00
2          07h45     06h00 - 12h00
3            NaN  No specific time
4            NaN  No specific time

In [22]:
#contamos los valores de la columna "Time_classified"
attacks_no_null["Time_classified"].value_counts()

No specific time    3387
12h00 - 18h00       1587
06h00 - 12h00        930
18h00 - 24h00        353
00h00 - 06h00         45
Name: Time_classified, dtype: int64

In [23]:
#La siguiente columna a limpiar va a ser "Species"
#El nombre de la columna tiene un espacio extra, hacemos el cambio
attacks_no_null.rename(columns={'Species ': 'Species'}, inplace = True)

In [24]:
#Creamos una nueva columna para organizar los datos de la columna "Species"
attacks_no_null["Species_classified"] = attacks_no_null["Species"].copy()

In [25]:
#palabras que se quiere eliminar de la columna
stop = ["Possibly","for","no","fragments","larger","less","than","by","determined","adult","male","hooked","captured","involved","cm","feet","female","tooth", "fragment", "recovered","according", "witnesses","said","be","averaged","length","pack","of","seen", "in", "vicinity",'',"kg","lb","small","a","m","thought", "to", "involve","possibly", "juvenile","suspected", "due", "freshwater", "habitat"]

#Función para clasificar la columna "Species"
def species_classification(x):
    #verifica si es NaN o no
    if x["Species"] == x["Species"]:
        especie_div = x["Species"].split()
        especie_stop = []
        #elimina carácteres especiales
        for i in especie_div:
            x = i.lower()
            x = re.sub("[^a-zA-Z]", "", x)
            x = x.replace("sharks","shark")
            #elimina palabras que esten en la lista de stop words
            if x not in stop:
                especie_stop.append(x.lower())
        #genera el nuevo string a validar
        especie = " ".join(especie_stop).capitalize()
        #validación extra para strings con muchas palabras
        if "shark" in especie_stop:
            i_shark = especie_stop.index("shark")
            if len(especie_stop)>2:
                especie_alt = (especie_stop[i_shark-2]+" "+especie_stop[i_shark-1] +" "+ especie_stop[i_shark]).capitalize()
            else:
                especie_alt = (especie_stop[i_shark-1] +" "+ especie_stop[i_shark]).capitalize()
        else:
            especie_alt = "Other species"
            
        #validaciones de las categorias más comunes
        if len(especie) == 0:
            return "Not confirmed"
        elif re.search("[Nn]ot", especie) or re.search(".*un.*", especie) or re.search(".*[Qq]ue.*", especie) or re.search("[Uu]ni", especie) or especie == "Shark":
            return "Not confirmed"
        elif re.search("[Ii]nvalid", especie) or re.search("No shark involvement", especie):
            return "No shark involvement"
        elif re.search("[Ww]hite\s", especie):
            return "White shark"
        elif re.search("[Tt]ig", especie):
            return "Tiger shark"
        elif re.search("[Ss]pin", especie):
            return "Spinner shark"
        else:
            return especie_alt
    else:
        return "Not confirmed"

In [26]:
#Vamos a clasificar las especies

attacks_no_null["Species_classified"] = attacks_no_null.apply(lambda x: species_classification(x), axis = 1)

In [27]:
#contamos los valores de la columna "Time_classified"
attacks_no_null["Species_classified"].value_counts().head(10)

Not confirmed           4179
White shark              628
Tiger shark              281
Bull shark               159
No shark involvement     103
Bronze whaler shark       60
Blacktip shark            55
Nurse shark               49
Spinner shark             48
Other species             44
Name: Species_classified, dtype: int64

In [28]:
#Verificamos las primeras filas de "Species"
attacks_no_null[["Species","Species_classified"]].head(10)

           Species Species_classified
0      White shark        White shark
1              NaN      Not confirmed
2              NaN      Not confirmed
3        2 m shark      Not confirmed
4  Tiger shark, 3m        Tiger shark
5              NaN      Not confirmed
6      Tiger shark        Tiger shark
7  Lemon shark, 3'        Lemon shark
8   Bull shark, 6'         Bull shark
9              NaN      Not confirmed

In [30]:
#La siguiente columna a limpiar va a ser "Age"
#Creamos una nueva columna para organizar los datos de la columna "Ages"
attacks_no_null["Age_classified"] = attacks_no_null["Age"].copy()

In [75]:
#Función para clasificar la columna "Age"
def age_classification(x):
    if x["Age"] == x["Age"]:
        age = x["Age"]
        
        #quitamos caracteres que no sean números
        age = re.sub("[^0-9]", " ", age)
        age = list(map(int, age.split())) 
        
        #verificamos cuántos números vienen en la edad
        if len(age) == 0:
            return "No record"
        elif len(age) == 1:
            age = age[0]
        else:
            age = round(sum(age)/len(age))
        
        #clasificamos la edad en rangos
        if age <= 10:
            return "0 - 10"
        elif age <= 20:
            return "11 - 20"
        elif age <= 30:
            return "21 - 30"
        elif age <= 40:
            return "31 - 40"
        elif age <= 50:
            return "41 - 50"
        elif age <= 60:
            return "51 - 60"
        elif age <= 70:
            return "61 - 70"
        elif age <= 80:
            return "71 - 80"
        else:
            return "81 or more"
    else:
        return "No record"

In [76]:
#Vamos a clasificar las edades

attacks_no_null["Age_classified"] = attacks_no_null.apply(lambda x: age_classification(x), axis = 1)

In [78]:
attacks_no_null["Age_classified"].value_counts()

No record     2861
11 - 20       1192
21 - 30        948
31 - 40        525
41 - 50        331
0 - 10         179
51 - 60        178
61 - 70         67
71 - 80         16
81 or more       5
Name: Age_classified, dtype: int64

In [82]:
attacks_no_null["Case Number"] == attacks_no_null["Case Number.1"]

0       True
1       True
2       True
3       True
4       True
        ...
6297    True
6298    True
6299    True
6300    True
6301    True
Length: 6302, dtype: bool

In [83]:
attacks_no_null.isna().sum()

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Time_classified              0
Species_classified           0
Age_classified               0
dtype: int64

In [ ]:
Los tiburones que más han a atacado son XXXXX y se encuentran principalmente en XXXXXX.
Las principales actividades que han tenido ataques de tiburones son XXXXXX
Los paises con más ataques son XXXXXX
La edad con más ataques es XXXX seguida de XXXX y XXXX
El género con más ataques es XXXX. Por cada XXXX atacado, hay un XXXX atacado.
Los daños más comunes son XXXX
La forma de tener más probabilidad de que te ataquen es si eres XXXX, tienes XXXX años, vives en XXXX, haces XXXX entre XXXX hora
La hora con mayor cantidad de ataques es durante XXXXX