## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [73]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [74]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)

print(sample_list_1)

[18, 56, 6, 5, 53, 38, 16, 86, 93, 1, 60, 40, 55, 22, 29, 80, 21, 67, 79, 54, 42, 24, 19, 72, 23, 12, 88, 77, 4, 62, 73, 15, 66, 46, 64, 90, 2, 10, 74, 99, 94, 68, 65, 96, 89, 71, 31, 17, 43, 92, 8, 36, 37, 14, 57, 63, 7, 41, 51, 78, 97, 47, 75, 85, 50, 45, 0, 39, 76, 32, 58, 98, 13, 49, 69, 61, 52, 87, 35, 20]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [75]:
# Your code here
set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [76]:
# Your code here
sample_list_2 = []

for i in range(0,80):
   sample_list_2.append(int(random.random()*100))

print(sample_list_2)

[17, 0, 36, 50, 4, 90, 71, 11, 99, 73, 61, 78, 93, 10, 71, 82, 52, 61, 24, 1, 42, 4, 97, 64, 60, 36, 16, 40, 85, 57, 46, 98, 77, 8, 8, 29, 39, 66, 41, 51, 59, 73, 17, 31, 74, 33, 29, 85, 84, 15, 8, 56, 16, 42, 34, 77, 33, 72, 46, 79, 44, 27, 37, 19, 71, 22, 45, 47, 46, 18, 4, 74, 61, 15, 63, 8, 39, 58, 86, 79]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [77]:
# Your code here
set2 = set(sample_list_2)

print(len(set2))

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [78]:
# Your code here
set3 = set1-set2

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [79]:
# Your code here
set4 = set2-set1

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [80]:
# Your code here
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [81]:
# Your code here
print("el set 1 tiene",len(set1),"elementos porque la lista random fue de valores únicos")
print("el set 2 tiene",len(set2),"elementos porque la lista random podia tener valores repetidos")
print("set3 tiene",len(set3),"elementos de set1 que no están en set2")
print("set4 tiene",len(set4),"elementos de set2 que no están en set1")
print("set5 tiene",len(set5),"elementos que se repiten en set1 y set2")

el set 1 tiene 80 elementos porque la lista random fue de valores únicos
el set 2 tiene 56 elementos porque la lista random podia tener valores repetidos
set3 tiene 32 elementos de set1 que no están en set2
set4 tiene 8 elementos de set2 que no están en set1
set5 tiene 48 elementos que se repiten en set1 y set2

#### Create an empty set called `set6`.

In [82]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [83]:
# Your code here
set6.update(set3,set5)

print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 29, 31, 32, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 85, 86, 87, 88, 89, 90, 92, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [84]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [85]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [86]:
# Your code here
set3.union(set4,set5) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [87]:
# Your code here
print(set1)
set1.pop()

{0, 1, 2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 29, 31, 32, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 85, 86, 87, 88, 89, 90, 92, 93, 94, 96, 97, 98, 99}

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [91]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove = set(list_to_remove)
new_list = list_to_remove-set1

print(new_list)

{9, 59, 11, 81, 91}