# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

In [44]:
from scipy.stats import ttest_1samp

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('/Users/martin/Desktop/lbs_ironhack/datamex_082020/module-2/lab-hypothesis-testing/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [6]:
salaries.shape

(33183, 8)

In [3]:
salaries.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [4]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [5]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [72]:
# Your code here:
sd = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
sd.head()

4     19.86
6     46.10
7     35.60
10     2.65
18    17.68
Name: Hourly Rate, dtype: float64

In [76]:
ttest_1samp(sd, 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [42]:
# Your code here:
a = salaries['Annual Salary'].dropna()

In [45]:
ttest = ttest_1samp(a,86000)

In [46]:
ttest

Ttest_1sampResult(statistic=5.932870515690814, pvalue=3.015758519916386e-09)

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:
hourly_workers = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])
hourly_workers

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

In [13]:
hourly_workers['Hourly'].sort_values(ascending = False).head(1)

Department
STREETS & SAN    1862
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [22]:
# Your code here:
prom = salaries.groupby('Department').mean().dropna()
prom

                       Typical Hours  Annual Salary  Hourly Rate
Department
ANIMAL CONTRL              19.473684   66197.612903    24.780000
AVIATION                   39.597967   78750.549324    35.633909
BUDGET & MGMT              35.000000   91836.545455    13.000000
BUSINESS AFFAIRS           20.000000   80577.073171    13.768571
CITY COUNCIL               24.062500   64482.566801    15.112969
COMMUNITY DEVELOPMENT      23.750000   88430.778325    30.302500
CULTURAL AFFAIRS           35.000000   89566.551724    11.857143
FAMILY & SUPPORT           20.069686   79895.762195     5.345679
FINANCE                    39.090909   73781.255814    32.090909
FIRE                       40.000000   97958.600811    40.200000
GENERAL SERVICES           40.000000   83545.057116    41.775503
HEALTH                     35.000000   85557.501031    81.953333
HUMAN RESOURCES            27.500000   80230.560000    10.000000
LAW                        34.625000   85958.321526    15.289250
MAYOR'S OFFICE             33.125000   98186.142857    20.000000
OEMC                       20.691280   74060.488299    19.466363
POLICE                     20.000000   86486.414503     9.384000
PROCUREMENT                40.000000   83093.866667    40.750000
PUBLIC LIBRARY             20.735786   70750.407821    16.612274
STREETS & SAN              37.137487   83019.250000    33.728378
TRANSPORTN                 40.000000   88657.905542    41.552110
WATER MGMNT                40.000000   89843.701639    42.178698

In [51]:
a = prom['Hourly Rate']

In [52]:
ttest = ttest_1samp(a,35)
ttest

Ttest_1sampResult(statistic=-2.14559737608011, pvalue=0.04375095927185643)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [53]:
# Your code here:
from scipy.stats import sem
from scipy.stats import t

In [55]:
mhw = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
mhw.head()

4     19.86
6     46.10
7     35.60
10     2.65
18    17.68
Name: Hourly Rate, dtype: float64

In [58]:
l = len(mhw)

In [60]:
m = np.mean(mhw)

In [63]:
s = sem(mhw)

In [64]:
t.interval(0.95, df=l-1, loc=m, scale=s)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [65]:
# Your code here:
sep = salaries[salaries['Salary or Hourly'] == 'Salary']['Annual Salary']
sep.head()

0    101442.0
1     94122.0
2    101592.0
3    110064.0
5     50436.0
Name: Annual Salary, dtype: float64

In [66]:
l = len(sep)
m = np.mean(sep)
s = sem(sep)

In [67]:
t.interval(0.95, df=l-1, loc=m, scale=s)

(86526.99656774197, 87047.0030125611)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [31]:
from statsmodels.stats.proportion import proportions_ztest as p_z

In [35]:
a = salaries['Salary or Hourly'].value_counts()[1]
a

8022

In [36]:
b = len(salaries['Salary or Hourly'])
b

33183

In [40]:
p_z(a,b,0.05)

(81.58385654690773, 0.0)